<div id="change-movie-clip" class="none">
    <div>
        <span class="language" data-text="{{MovieClipに変換}}">MovieClipに変換</span>
    </div>
    <div>
        <div>
            <span class="language" data-text="{{名前}}">名前</span>
        </div>
        <div>
            <input type="text" value="">
        </div>
    </div>
    <div>
        <div>
            <span class="language" data-text="{{基準点}}">基準点</span>
        </div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div>
        <div>OK</div>
        <div>キャンセル</div>
    </div>
</div>