<div id="confirm-modal" class="none">

    <div class="confirm-preview-area">

        <div class="confirm-preview-container">
            <div class="confirm-preview-text">
                <span class="language" data-text="{{既存のコンテンツ}}">既存のコンテンツ</span>
            </div>
            <div id="confirm-before-preview"></div>
        </div>

        <div class="confirm-preview-container">
            <div class="confirm-preview-text">
                <span class="language" data-text="{{追加ファイル}}">追加ファイル</span>
            </div>
            <div id="confirm-after-preview"></div>
        </div>

    </div>

    <div class="confirm-setting">

        <div class="confirm-setting-container">
            <div class="confirm-setting-text">
                <span class="language" data-text="{{上書きするか、ファイル名を変更して追加するか、スキップを選択する事ができます}}">上書きするか、ファイル名を変更して追加するか、スキップを選択する事ができます</span>
            </div>
        </div>

        <div class="confirm-setting-container">
            <input type="text" id="confirm-file-name" value="" autocomplete="off" data-detail="{{ファイル名を指定}}">
        </div>

        <div class="confirm-setting-container">
            <div id="confirm-overwriting" class="confirm-button">
                <span class="language" data-text="{{追加・上書き}}">追加・上書き</span>
            </div>
            <div id="confirm-skip" class="confirm-button">
                <span class="language" data-text="{{スキップ}}">スキップ</span>
            </div>
        </div>

        <div class="confirm-setting-container">
            <div id="confirm-all-overwriting" class="confirm-button">
                <span class="language" data-text="{{全て上書き}}">全て上書き</span>
            </div>
            <div id="confirm-all-skip" class="confirm-button">
                <span class="language" data-text="{{全てスキップ}}">全てスキップ</span>
            </div>
        </div>

    </div>
</div>
