<div id="transform-setting">

    <div id="transform-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{変形}}">変形</span>
    </div>

    <div id="transform-setting-view-area">

        <div class="transform-setting-block">

            <div class="transform-setting-block-left">

                <div id="transform-size-lock">
                    ┌
                    <div class="disable" data-detail="{{比率を固定}}"></div>
                    └
                </div>

            </div>

            <div class="transform-setting-block-right">

                <div class="transform-setting-container">
                    <div class="transform-setting-text">W</div>
                    <div><input type="number" id="object-width" value="0" data-detail="{{選択対象の幅}}" autocomplete="off"></div>

                    <div class="transform-setting-text">X</div>
                    <div><input type="text" id="object-x" value="0" data-detail="{{選択対象のX座標}}" autocomplete="off"></div>
                </div>

                <div class="transform-setting-container">
                    <div class="transform-setting-text">H</div>
                    <div><input type="number" id="object-height" value="0" data-detail="{{選択対象の高さ}}" autocomplete="off"></div>

                    <div class="transform-setting-text">Y</div>
                    <div><input type="text" id="object-y" value="0" data-detail="{{選択対象のY座標}}" autocomplete="off"></div>
                </div>

            </div>

        </div>

        <div class="transform-setting-block">

            <div class="transform-setting-block-left">

                <div id="transform-scale-lock">
                    ┌
                    <div class="disable" data-detail="{{比率を固定}}"></div>
                    └
                </div>

            </div>

            <div class="transform-setting-block-right">

                <div class="transform-setting-container">
                    <div class="transform-setting-text">X</div>
                    <div><input type="text" id="transform-scale-x" value="100" data-detail="{{選択対象の幅の伸縮}}" autocomplete="off"></div>
                    <div class="transform-setting-percent-text">%</div>

                    <div class="transform-setting-text-rotate">Rotate</div>
                    <div><input type="text" id="transform-rotate" value="0" data-detail="{{選択対象を回転}}" autocomplete="off"></div>
                    <div class="transform-setting-percent-text">°</div>
                </div>

                <div class="transform-setting-container">
                    <div class="transform-setting-text">Y</div>
                    <div><input type="text" id="transform-scale-y" value="100" data-detail="{{選択対象の高さの伸縮}}" autocomplete="off"></div>
                    <div class="transform-setting-percent-text">%</div>
                </div>

            </div>

        </div>

    </div>

</div>
