<div id="color-setting">

    <div id="color-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{カラー効果}}">カラー効果</span>
    </div>

    <div id="color-setting-view-area">

        <div class="color-setting-container">
            <div class="color-setting-text-multiplier">Alpha</div>
            <div><input type="text" id="color-alpha-multiplier" value="100" data-detail="{{アルファ(0%-100%)}}"></div>
            <div class="color-setting-percent-text">%</div>

            <div class="color-setting-text">A +</div>
            <div><input type="text" id="color-alpha-offset" value="0" data-detail="{{アルファオフセット(-255〜255)}}"></div>
        </div>

        <div class="color-setting-container">
            <div class="color-setting-text-multiplier">Red</div>
            <div><input type="text" id="color-red-multiplier" value="100" data-detail="{{赤(0%-100%)}}"></div>
            <div class="color-setting-percent-text">%</div>

            <div class="color-setting-text">R +</div>
            <div><input type="text" id="color-red-offset" value="0" data-detail="{{赤オフセット(-255〜255)}}"></div>
        </div>

        <div class="color-setting-container">
            <div class="color-setting-text-multiplier">Green</div>
            <div><input type="text" id="color-green-multiplier" value="100" data-detail="{{緑(0%-100%)}}"></div>
            <div class="color-setting-percent-text">%</div>

            <div class="color-setting-text">G +</div>
            <div><input type="text" id="color-green-offset" value="0" data-detail="{{緑オフセット(-255〜255)}}"></div>
        </div>

        <div class="color-setting-container">
            <div class="color-setting-text-multiplier">Blue</div>
            <div><input type="text" id="color-blue-multiplier" value="100" data-detail="{{青(0%-100%)}}"></div>
            <div class="color-setting-percent-text">%</div>

            <div class="color-setting-text">B +</div>
            <div><input type="text" id="color-blue-offset" value="0" data-detail="{{青オフセット(-255〜255)}}"></div>
        </div>

    </div>

</div>
