<div id="filter-setting">

    <div id="filter-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{フィルター}}">フィルター</span>
    </div>

    <div id="filter-setting-view-area">

        <div class="filter-setting-container">

            <select id="filter-select" data-detail="{{フィルターを選択}}">
                <option value="DropShadowFilter">DropShadow</option>
                <option value="BlurFilter">Blur</option>
                <option value="GlowFilter">Glow</option>
                <option value="BevelFilter">Bevel</option>
                <option value="GradientGlowFilter">GradientGlow</option>
                <option value="GradientBevelFilter">GradientBevel</option>
            </select>

            <div id="filter-add" data-detail="{{フィルターを追加}}"></div>

        </div>

        <div id="filter-setting-list">
            <div class="filter-none">No Filters Added</div>
        </div>

    </div>

</div>
