<div id="text-setting">

    <div id="text-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{テキスト}}">テキスト</span>
    </div>

    <div id="text-setting-view-area">

        <div class="text-setting-container">
            <div class="text-setting-select-title">
                <span class="language" data-text="{{フォント}}">フォント</span>
            </div>
            <select id="font-select" data-detail="{{フォント選択}}">
                <option value="sans-serif">sans-serif</option>
                <option value="Arial">Arial</option>
                <option value="Arial Black">Arial Black</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Courier">Courier</option>
                <option value="Courier New">Courier New</option>
                <option value="Georgia">Georgia</option>
                <option value="Impact">Impact</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Verdana">Verdana</option>
            </select>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-select-title">
                Auto<br>Resize
            </div>
            <select id="font-auto-size-select" data-detail="{{自動サイズ調整}}">
                <option value="0" class="language" data-text="{{リサイズしない}}">No Resize</option>
                <option value="1" class="language" data-text="{{テキストに合わせて枠をリサイズ}}">Box Resize</option>
                <option value="2" class="language" data-text="{{枠に合わせてテキストをリサイズ}}">Text Resize</option>
            </select>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-select-title">
                <span class="language" data-text="{{スタイル}}">スタイル</span>
            </div>
            <select id="font-style-select" data-detail="{{フォントスタイルタイプ}}">
                <option value="0">Normal</option>
                <option value="1">Bold</option>
                <option value="2">Italic</option>
                <option value="3">Bold/Italic</option>
            </select>

            <div class="text-setting-select-title">Align</div>
            <select id="font-align-select" data-detail="{{行揃え}}">
                <option value="left" class="language" data-text="{{左寄せ}}">左寄せ</option>
                <option value="center" class="language" data-text="{{中央揃え}}">中央揃え</option>
                <option value="right" class="language" data-text="{{右寄せ}}">右寄せ</option>
            </select>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-select-title">Behavior</div>
            <select id="font-wrap-select" data-detail="{{改行設定}}">
                <option value="0" class="language" data-text="{{単一行}}">Single Line</option>
                <option value="1" class="language" data-text="{{複数行}}">Multiline</option>
                <option value="2" class="language" data-text="{{自動で折り返し}}">Auto Wrap</option>
            </select>

            <div class="text-setting-select-title">Input</div>
            <select id="font-input-select" data-detail="{{テキスト入力設定}}">
                <option value="0" class="language" data-text="{{読込のみ}}">読込のみ</option>
                <option value="1" class="language" data-text="{{書込を許可}}">書込を許可</option>
            </select>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-select-title">Scroll</div>
            <select id="font-scroll-select" data-detail="{{スクロール設定}}">
                <option value="1">Auto</option>
                <option value="0">Off</option>
            </select>

            <div class="text-setting-select-title">Border</div>
            <select id="font-border-select" data-detail="{{テキストエリアのボーダー設定}}">
                <option value="0">Off</option>
                <option value="1">On</option>
            </select>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-title-text">Size</div>
            <div><input type="number" id="font-size" value="12" data-detail="{{フォントサイズ}}" autocomplete="off"></div>
            <div class="text-setting-text">px</div>

            <div class="text-setting-title-text">Color</div>
            <div><input type="color" id="font-color" value="#000000" data-detail="{{フォントカラー}}"></div>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-title-text">Line<br>Space</div>
            <div><input type="text" id="font-leading" value="0" data-detail="{{行間}}" autocomplete="off"></div>
            <div class="text-setting-text">px</div>

            <div class="text-setting-title-text">Character<br>Width</div>
            <div><input type="text" id="font-letterSpacing" value="0" data-detail="{{文字幅}}" autocomplete="off"></div>
            <div class="text-setting-text">px</div>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-title-text">Left<br>Margin</div>
            <div><input type="text" id="font-leftMargin" value="0" data-detail="{{左マージン}}" autocomplete="off"></div>
            <div class="text-setting-text">px</div>

            <div class="text-setting-title-text">Right<br>Margin</div>
            <div><input type="text" id="font-rightMargin" value="0" data-detail="{{右マージン}}" autocomplete="off"></div>
            <div class="text-setting-text">px</div>
        </div>

        <div class="text-setting-container">
            <div class="text-setting-title-text">Stroke<br>Size</div>
            <div><input type="number" id="font-stroke-size" value="0" data-detail="{{フォント枠サイズ}}" autocomplete="off"></div>
            <div class="text-setting-text">px</div>

            <div class="text-setting-title-text">Stroke<br>Color</div>
            <div><input type="color" id="font-stroke-color" value="#000000" data-detail="{{フォント枠カラー}}"></div>
        </div>
    </div>

</div>
