<div id="video-setting">
    <div id="video-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{ビデオ}}">ビデオ</span>
    </div>

    <div id="video-setting-view-area">

        <div class="video-setting-container">
            <div class="video-setting-title-text">
                <span class="language" data-text="{{音量}}">音量</span>
            </div>
            <div><input type="number" id="video-volume" value="100" data-detail="{{ビデオの音量設定}}"></div>
        </div>

        <div class="video-setting-container">
            <div class="video-setting-title-text">
                <span class="language" data-text="{{自動再生}}">自動再生</span>
            </div>
            <select id="video-auto-select" data-detail="{{自動再生}}">
                <option value="0">Off</option>
                <option value="1">On</option>
            </select>

            <div class="video-setting-title-text">
                <span class="language" data-text="{{ループ}}">ループ</span>
            </div>
            <select id="video-loop-select" data-detail="{{ループ}}">
                <option value="0">Off</option>
                <option value="1">On</option>
            </select>
        </div>

    </div>
</div>
