<div id="blend-setting">

    <div id="blend-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{ブレンドモード}}">ブレンドモード</span>
    </div>

    <div id="blend-setting-view-area">

        <div class="blend-setting-container">
            <select id="blend-select" data-detail="{{ブレンドモード}}">
                <option value="normal">normal</option>
                <option value="layer">layer</option>
                <option value="darken">darken</option>
                <option value="multiply">multiply</option>
                <option value="lighten">lighten</option>
                <option value="screen">screen</option>
                <option value="overlay">overlay</option>
                <option value="hardlight">hardlight</option>
                <option value="add">add</option>
                <option value="subtract">subtract</option>
                <option value="difference">difference</option>
                <option value="invert">invert</option>
                <option value="alpha">alpha</option>
                <option value="erase">erase</option>
            </select>
        </div>

    </div>

</div>
