<div id="align-setting">

    <div id="align-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{整列}}">整列</span>
    </div>

    <div id="align-setting-view-area">

        <div class="align-setting-container">
            <div class="align-setting-text language" data-detail="{{整列}}"><span class="language" data-text="{{整列}}">整列</span></div>
            <div class="align-setting-container-bottom">
                <div id="align-position-left" data-detail="{{左揃え}}"><i></i></div>
                <div id="align-position-center" data-detail="{{中央揃え(水平方向)}}"><i></i></div>
                <div id="align-position-right" data-detail="{{右揃え}}"><i></i></div>
                <div id="align-position-top" data-detail="{{上揃え}}"><i></i></div>
                <div id="align-position-middle" data-detail="{{中央揃え(垂直方向)}}"><i></i></div>
                <div id="align-position-bottom" data-detail="{{下揃え}}"><i></i></div>
            </div>
        </div>

        <div class="align-setting-container">
            <div class="align-setting-text language" data-detail="{{ステージ基準}}"><span class="language" data-text="{{ステージ基準}}">ステージ基準</span></div>
            <div class="align-setting-container-bottom">
                <div id="align-stage-position-left" data-detail="{{左揃え}}"><i></i></div>
                <div id="align-stage-position-center" data-detail="{{中央揃え(水平方向)}}"><i></i></div>
                <div id="align-stage-position-right" data-detail="{{右揃え}}"><i></i></div>
                <div id="align-stage-position-top" data-detail="{{上揃え}}"><i></i></div>
                <div id="align-stage-position-middle" data-detail="{{中央揃え(垂直方向)}}"><i></i></div>
                <div id="align-stage-position-bottom" data-detail="{{下揃え}}"><i></i></div>
            </div>
        </div>

    </div>

</div>
