<div id="controller-area-library">

    <div id="library-preview-area"></div>

    <div class="library-search-area">
        <i></i> <input type="text" id="library-search" value="" autocomplete="off" data-detail="{{ライブラリ内の検索}}" tabindex="-1">
    </div>

    <div id="library-list-title">
        <div class="library-list-title-name">
            <p class="language" data-text="{{名前}}">名前</p>
        </div>
        <div class="library-list-title-symbol">
            <p class="language" data-text="{{シンボル}}">シンボル</p>
        </div>
    </div>

    <div id="library-list-box"></div>

</div>
