<div id="controller-tab-area">
    <div class="tab disable" data-tab-type="controller-area-property"><span class="language" data-text="{{プロパティ}}">Properties</span></div>
    <div class="tab disable" data-tab-type="controller-area-library"><span class="language" data-text="{{ライブラリ}}">Library</span></div>
    <div class="tab disable" data-tab-type="controller-area-js">JavaScript</div>
    <div class="tab disable" data-tab-type="controller-area-plugin"><span class="language" data-text="{{プラグイン}}">Plugin</span></div>
</div>
