<div id="loop-setting">
    <div id="loop-setting-title">
        <i class="active"></i>
        <span class="language" data-text="{{カスタムループ}}">Custom Loop</span>
    </div>

    <div id="loop-setting-view-area">

        <div class="loop-setting-container">
            <div id="no-use-loop" class="loop-setting-bottom active" data-detail="{{デフォルトのループを利用する}}"><i></i></div>
            <div id="loop-repeat" class="loop-setting-bottom" data-detail="{{ループで再生}}"><i></i></div>
            <div id="loop-no-repeat" class="loop-setting-bottom" data-detail="{{1回再生}}"><i></i></div>
            <div id="fixed-one" class="loop-setting-bottom" data-detail="{{指定したフレームで固定}}"><i></i></div>
            <div id="loop-no-repeat-reversal" class="loop-setting-bottom" data-detail="{{1回逆再生}}"><i></i></div>
            <div id="loop-repeat-reversal" class="loop-setting-bottom" data-detail="{{逆ループで再生}}"><i></i></div>
        </div>

        <div class="loop-setting-container">
            <div class="loop-setting-text">start</div>
            <div><input type="text" id="loop-start-frame" value="1" data-detail="{{開始フレーム}}" autocomplete="off" tabindex="-1"></div>

            <div class="loop-setting-text">end</div>
            <div><input type="text" id="loop-end-frame" value="-" data-detail="{{終了フレーム}}" autocomplete="off" tabindex="-1"></div>
        </div>

        <div class="loop-setting-container">
            <button id="frame-picker-button" data-detail="{{フレームピッカー}}">Frame Picker</button>
            <button id="target-start-button" class="active">Start</button>
            <button id="target-end-button">End</button>
        </div>

        <div class="loop-setting-container">
            <div id="loop-image-list"></div>
        </div>

    </div>

</div>
