<div id="nine-slice-setting">
    <div id="nine-slice-setting-title"><i class="active"></i>9-slice</div>

    <div id="nine-slice-setting-view-area">
        <div class="nine-slice-setting-container">
            <div class="nine-slice-setting-text">X</div>
            <div><input type="text" id="nine-slice-setting-x" value="0" data-detail="{{選択対象のX座標}}" autocomplete="off"></div>

            <div class="nine-slice-setting-text">W</div>
            <div><input type="number" id="nine-slice-setting-w" value="0" data-detail="{{選択対象の幅}}" autocomplete="off"></div>
        </div>

        <div class="nine-slice-setting-container">
            <div class="nine-slice-setting-text">Y</div>
            <div><input type="text" id="nine-slice-setting-y" value="0" data-detail="{{選択対象のY座標}}" autocomplete="off"></div>

            <div class="nine-slice-setting-text">H</div>
            <div><input type="number" id="nine-slice-setting-h" value="0" data-detail="{{選択対象の高さ}}" autocomplete="off"></div>
        </div>
    </div>

</div>
