<meta charset="UTF-8">

<title>Animation Tool | Next2D</title>
<meta name="description" content="Nex2D Animation Tool is a web browser-based authoring tool. Its intuitive interface and rich functionality make it easy for anyone to use. It allows you to combine various media formats, such as text, images, audio, and video, to create high-quality, engaging content.">
<meta content="Next2D,Next2D Player,Animation Tool,Next2D Framework" name="keywords">

<link rel="icon" type="image/png" href="./assets/img/favicon.png" sizes="16x16 24x24 32x32 48x48 64x64" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Animation Tool | Next2D">
<meta itemprop="description" content="Nex2D Animation Tool is a web browser-based authoring tool. Its intuitive interface and rich functionality make it easy for anyone to use. It allows you to combine various media formats, such as text, images, audio, and video, to create high-quality, engaging content.">
<meta itemprop="image" content="https://tool.next2d.app/assets/img/ogp.png?v1">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://tool.next2d.app">
<meta property="og:type" content="website">
<meta property="og:title" content="Animation Tool | Next2D">
<meta property="og:description" content="Nex2D Animation Tool is a web browser-based authoring tool. Its intuitive interface and rich functionality make it easy for anyone to use. It allows you to combine various media formats, such as text, images, audio, and video, to create high-quality, engaging content.">
<meta property="og:image" content="https://tool.next2d.app/assets/img/ogp.png?v1">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Animation Tool | Next2D">
<meta name="twitter:description" content="Nex2D Animation Tool is a web browser-based authoring tool. Its intuitive interface and rich functionality make it easy for anyone to use. It allows you to combine various media formats, such as text, images, audio, and video, to create high-quality, engaging content.">
<meta name="twitter:image" content="https://tool.next2d.app/assets/img/ogp.png?v1">

<!-- StyleSheet -->
<link href="./assets/css/main.min.css" rel="stylesheet">

<!-- JavaScript -->
<script src="./assets/js/next2d.js"></script>
<script src="./assets/js/ace.js"></script>
<script src="./assets/js/ext-language_tools.js"></script>
<script src="./assets/js/ext-searchbox.js"></script>
<script src="./assets/js/gif.js"></script>
<script src="./assets/js/jszip.min.js"></script>
<script src="./assets/js/next2d-tool.min.js"></script>
