<meta charset="UTF-8">

<title>Next2D | NoCode Tool</title>
<meta name="description" content="Next2D NoCode Tool is an authoring tool that runs on a web browser based on NoCode development, allowing you to intuitively create the animation you have imagined, and the exported data can be easily published by uploading it to the web.">
<meta content="Next2D,Next2D Player,NoCode Tool,Next2D Framework" name="keywords">

<link rel="icon" type="image/png" href="./assets/img/favicon.png" sizes="16x16 24x24 32x32 48x48 64x64" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Next2D | NoCode Tool">
<meta itemprop="description" content="Next2D NoCode Tool is an authoring tool that runs on a web browser based on NoCode development, allowing you to intuitively create the animation you have imagined, and the exported data can be easily published by uploading it to the web.">
<meta itemprop="image" content="https://tool.next2d.app/assets/img/ogp.png?v1">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://tool.next2d.app">
<meta property="og:type" content="website">
<meta property="og:title" content="Next2D | NoCode Tool">
<meta property="og:description" content="Next2D NoCode Tool is an authoring tool that runs on a web browser based on NoCode development, allowing you to intuitively create the animation you have imagined, and the exported data can be easily published by uploading it to the web.">
<meta property="og:image" content="https://tool.next2d.app/assets/img/ogp.png?v1">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Next2D | NoCode Tool">
<meta name="twitter:description" content="Next2D NoCode Tool is an authoring tool that runs on a web browser based on NoCode development, allowing you to intuitively create the animation you have imagined, and the exported data can be easily published by uploading it to the web.">
<meta name="twitter:image" content="https://tool.next2d.app/assets/img/ogp.png?v1">

<!-- StyleSheet -->
<link href="./assets/css/main.min.css" rel="stylesheet">

<!-- JavaScript -->
<script src="./assets/js/ace.js"></script>
<script src="./assets/js/ext-language_tools.js"></script>
<script src="./assets/js/ext-searchbox.js"></script>
<script src="./assets/js/gif.js"></script>
<script src="./assets/js/jszip.min.js"></script>
<script src="./assets/js/next2d.js"></script>
<script src="./assets/js/next2d-tool.min.js"></script>
