<div id="library-export-modal" class="none">
    <div id="library-export-bar">
        <div id="library-export-title"></div>
        <i id="library-export-hide-icon"></i>
    </div>
    <div id="library-export-body">
        <div id="library-export-preview">
            <canvas id="library-export-canvas"></canvas>
        </div>
        <div id="library-export-setting">

        </div>
    </div>
</div>
