<div id="library-export-modal" class="none">
    <div id="library-export-bar">
        <div id="library-export-title">
            <span class="language" data-text="{{書き出し設定}}">書き出し設定</span>
        </div>
        <i id="library-export-hide-icon"></i>
    </div>
    <div id="library-export-body">
        <div id="library-export-preview">
            <div id="library-export-image"></div>
        </div>

        <div id="library-export-setting">

            <div class="library-export-setting-title">
                <span class="language" data-text="{{サイズ設定}}">サイズ設定</span>
            </div>

            <div class="library-export-setting-block">

                <div class="library-export-setting-block-left">

                    <div id="library-export-size-lock">
                        ┌
                        <div class="disable" data-detail="{{比率を固定}}"></div>
                        └
                    </div>

                </div>

                <div class="library-export-setting-block-right">
                    <div class="library-export-setting-container">
                        <div class="library-export-setting-text">W</div>
                        <div><input type="number" id="export-width" value="0" data-detail="{{選択対象の幅}}"></div>
                        <div class="library-export-setting-text">px</div>
                    </div>

                    <div class="library-export-setting-container">
                        <div class="library-export-setting-text">H</div>
                        <div><input type="number" id="export-height" value="0" data-detail="{{選択対象の高さ}}"></div>
                        <div class="library-export-setting-text">px</div>
                    </div>
                </div>

            </div>

            <div class="library-export-setting-title">
                <span class="language" data-text="{{ファイル形式}}">ファイル形式</span>
            </div>

            <div class="library-export-setting-block">
                <div class="library-export-setting-container">
                    <div>
                        <select id="library-export-file-type" data-detail="{{ファイル形式の選択}}">
                            <option value="png" selected>PNG</option>
                            <option value="jpeg">JPEG</option>
                            <option value="gif">GIF</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="library-export-container-area">
                <div class="library-export-setting-title">
                    <span class="language" data-text="{{フレーム設定}}">フレーム設定</span>
                </div>

                <div class="library-export-setting-container">
                    <div class="library-export-setting-text">Start</div>
                    <div><input type="number" id="export-start-frame" value="1" data-detail="{{開始フレームを指定}}"></div>

                    <div class="library-export-setting-text">End</div>
                    <div><input type="number" id="export-end-frame" value="1" data-detail="{{終了フレームを指定}}"></div>
                </div>
            </div>

            <div class="library-export-setting-title">
                <span class="language" data-text="{{ファイル名}}">ファイル名</span>
            </div>

            <div class="library-export-setting-container">
                <div><input type="text" id="export-name" value="" data-detail="{{ファイル名を指定}}"></div>
            </div>

            <div class="library-export-setting-button">
                <div id="execute-library-export">
                    <span class="language" data-text="{{書き出し}}">書き出し</span>
                </div>
            </div>

        </div>
    </div>
</div>
