<div id="library-menu" class="none">
    <div class="library-menu-list">

        <div id="library-menu-container-add" data-container-type="container">
            <i class="library-type-container"></i>
            <span class="language" data-text="{{新規MovieClip}}" data-shortcut-key="mCtrl" data-shortcut-text="Ctrl + M" data-area="library">新規MovieClip</span>
        </div>
        <div id="library-menu-folder-add" data-container-type="folder">
            <i class="library-type-folder"></i>
            <span class="language" data-text="{{新規フォルダー}}" data-shortcut-key="fCtrl" data-shortcut-text="Ctrl + F" data-area="library">新規フォルダー</span>
        </div>
        <p></p>

        <div id="library-menu-content-shape-clone">
            <i class="library-type-clone"></i>
            <span class="language" data-text="{{Shapeを複製}}" data-shortcut-key="sCtrl" data-shortcut-text="Ctrl + S" data-area="library">Shape Clone</span>
        </div>
        <p></p>

        <div id="library-menu-file">
            <i class="library-type-load"></i>
            <span class="language" data-text="{{読み込み}}" data-shortcut-key="rCtrl" data-shortcut-text="Ctrl + R" data-area="library">読込(画像, MP3, MP4, SWF)</span>
        </div>
        <input id="library-menu-file-input" type="file" accept=".jpg,.jpeg,.png,.gif,.swf,.svg,.mp3,.mp4" multiple>
        <p></p>

        <div id="library-menu-delete">
            <i class="library-type-trash"></i>
            <span class="language" data-text="{{削除}}" data-shortcut-key="Backspace" data-shortcut-text="Delete" data-area="library">削除</span>
        </div>

        <div id="library-menu-no-use-delete">
            <i class="library-type-trash"></i>
            <span class="language" data-text="{{未使用のアイテムを削除}}" data-shortcut-key="BackspaceShiftCtrl" data-shortcut-text="Shift + Ctrl + Delete" data-area="library">未使用のアイテムを全て削除</span>
        </div>

    </div>
</div>
