<div id="detail-modal" class="none"></div>

<div id="plugin-modal" class="none">
    <div id="plugin-bar">
        <div id="plugin-title"></div>
        <i id="plugin-hide-icon"></i>
    </div>
    <div id="plugin-modal-element"></div>
</div>

<div id="editor-modal" class="none">
    <div id="editor-bar">
        <div id="editor-title"></div>
        <i id="editor-hide-icon"></i>
    </div>
    <div id="editor"></div>
</div>
