<div id="screen">
    <div id="stage-rect" style="display: none;"></div>
    <div id="draw-rect" style="display: none;"></div>
    <div id="draw-text" style="display: none;"></div>
    <div id="stage-area">
        <div id="stage"></div>
        <div id="target-rect" style="display: none;"></div>
        <div id="reference-point" style="display: none;"></div>
        <div id="target-rotation" style="display: none;"></div>
        <div id="scale-top-left" style="display: none;"></div>
        <div id="scale-top-right" style="display: none;"></div>
        <div id="scale-bottom-left" style="display: none;"></div>
        <div id="scale-bottom-right" style="display: none;"></div>
        <div id="scale-center-left" style="display: none;"></div>
        <div id="scale-center-top" style="display: none;"></div>
        <div id="scale-center-right" style="display: none;"></div>
        <div id="scale-center-bottom" style="display: none;"></div>
        <div id="grid-top-left" style="display: none;"></div>
        <div id="grid-top-right" style="display: none;"></div>
        <div id="grid-bottom-left" style="display: none;"></div>
        <div id="grid-bottom-right" style="display: none;"></div>
    </div>

    <div id="screen-menu" class="none">
        <div class="screen-menu-list">
            <span class="screen-menu-title language" data-text="{{重ね順}}">重ね順</span>
            <div id="screen-front" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最前面}}">最前面</span></div>
            <div id="screen-front-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ前面へ}}">ひとつ前面へ</span></div>
            <div id="screen-back-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ背面へ}}">ひとつ背面へ</span></div>
            <div id="screen-back" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最背面}}">最背面</span></div>
            <p></p>
            <span class="screen-menu-title language" data-text="{{整列}}">Align</span>
            <div class="screen-align">
                <div id="screen-position-left" class="screen-menu-bottom" data-detail="{{左揃え}}"><i></i></div>
                <div id="screen-position-center" class="screen-menu-bottom" data-detail="{{中央揃え(水平方向)}}"><i></i></div>
                <div id="screen-position-right" class="screen-menu-bottom" data-detail="{{右揃え}}"><i></i></div>
                <div id="screen-position-top" class="screen-menu-bottom" data-detail="{{上揃え}}"><i></i></div>
                <div id="screen-position-middle" class="screen-menu-bottom" data-detail="{{中央揃え(垂直方向)}}"><i></i></div>
                <div id="screen-position-bottom" class="screen-menu-bottom" data-detail="{{下揃え}}"><i></i></div>
            </div>
            <p></p>
            <span class="screen-menu-title language" data-text="{{タイムライン}}">Timeline</span>
            <div id="screen-distribute-to-layers" class="screen-menu-bottom"><span class="language" data-text="{{レイヤーに配分}}">レイヤーに配分</span></div>
            <div id="screen-distribute-to-keyframes" class="screen-menu-bottom"><span class="language" data-text="{{キーフレームに配分}}">キーフレームに配分</span></div>
            <p></p>
            <span class="screen-menu-title language" data-text="{{シェイプ}}">シェイプ</span>
            <div id="screen-integrating-paths" class="screen-menu-bottom"><i></i><span class="language" data-text="{{パスの結合}}">パスの結合</span></div>
            <p></p>
            <span class="screen-menu-title language" data-text="{{トゥイーン}}">Tween</span>
            <div id="screen-tween-curve-pointer" class="screen-menu-bottom"><span class="language" data-text="{{カーブポインターの追加}}">Added Curve Pointer</span></div>
            <p></p>
            <span class="screen-menu-title language" data-text="{{プラグインメニュー}}">Plugin Menu</span>
            <div id="plugin-menu"></div>
            <p></p>
            <div id="screen-copy" class="screen-menu-bottom" data-key="KeyC"><span class="language" data-text="{{コピー}}">Copy</span><i></i></div>
            <div id="screen-paste" class="screen-menu-bottom" data-key="KeyV"><span class="language" data-text="{{ペースト}}">Paste</span><i></i></div>
            <div id="screen-delete" class="screen-menu-bottom" data-key="Delete"><span class="language" data-text="{{削除}}">Delete</span><i></i></div>
            <p></p>
            <div id="screen-preview" class="screen-menu-bottom" data-key="Enter"><span class="language" data-text="{{プレビュー}}">Preview</span><i></i></div>
        </div>
    </div>

    <div id="player-preview" style="display:none;">
        <div id="preview-stop"></div>
        <div id="preview-display"></div>
    </div>
</div>
