<div id="screen-menu" class="none">
    <div class="screen-menu-list">
        <span class="screen-menu-title language" data-text="{{重ね順}}">重ね順</span>
        <div id="screen-front" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最前面}}" data-shortcut-key="ArrowUpShiftCtrl" data-shortcut-text="Ctrl + Shift + ▲" data-area="screen">最前面</span></div>
        <div id="screen-front-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ前面へ}}" data-shortcut-key="ArrowUpCtrl" data-shortcut-text="Ctrl + ▲" data-area="screen">ひとつ前面へ</span></div>
        <div id="screen-back-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ背面へ}}" data-shortcut-key="ArrowDownCtrl" data-shortcut-text="Ctrl + ▼" data-area="screen">ひとつ背面へ</span></div>
        <div id="screen-back" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最背面}}" data-shortcut-key="ArrowDownShiftCtrl" data-shortcut-text="Ctrl + Shift + ▼" data-area="screen">最背面</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{整列}}">整列</span>
        <div class="screen-align">
            <div id="screen-position-left" class="screen-menu-bottom" data-detail="{{左揃え}}"><i></i></div>
            <div id="screen-position-center" class="screen-menu-bottom" data-detail="{{中央揃え(水平方向)}}"><i></i></div>
            <div id="screen-position-right" class="screen-menu-bottom" data-detail="{{右揃え}}"><i></i></div>
            <div id="screen-position-top" class="screen-menu-bottom" data-detail="{{上揃え}}"><i></i></div>
            <div id="screen-position-middle" class="screen-menu-bottom" data-detail="{{中央揃え(垂直方向)}}"><i></i></div>
            <div id="screen-position-bottom" class="screen-menu-bottom" data-detail="{{下揃え}}"><i></i></div>
        </div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{ステージ基準}}">ステージ基準</span>
        <div class="screen-align">
            <div id="stage-position-left" class="screen-menu-bottom" data-detail="{{左揃え}}"><i></i></div>
            <div id="stage-position-center" class="screen-menu-bottom" data-detail="{{中央揃え(水平方向)}}"><i></i></div>
            <div id="stage-position-right" class="screen-menu-bottom" data-detail="{{右揃え}}"><i></i></div>
            <div id="stage-position-top" class="screen-menu-bottom" data-detail="{{上揃え}}"><i></i></div>
            <div id="stage-position-middle" class="screen-menu-bottom" data-detail="{{中央揃え(垂直方向)}}"><i></i></div>
            <div id="stage-position-bottom" class="screen-menu-bottom" data-detail="{{下揃え}}"><i></i></div>
        </div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{タイムライン}}">Timeline</span>
        <div id="screen-distribute-to-layers" class="screen-menu-bottom"><span class="language" data-text="{{レイヤーに配分}}">レイヤーに配分</span></div>
        <div id="screen-distribute-to-keyframes" class="screen-menu-bottom"><span class="language" data-text="{{キーフレームに配分}}">キーフレームに配分</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{シェイプ}}">シェイプ</span>
        <div id="screen-integrating-paths" class="screen-menu-bottom"><i></i><span class="language" data-text="{{パスの結合}}">パスの結合</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{トゥイーン}}">Tween</span>
        <div id="screen-tween-curve-pointer" class="screen-menu-bottom"><span class="language" data-text="{{カーブポインターの追加}}">Added Curve Pointer</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{プラグインメニュー}}">Plugin Menu</span>
        <div id="plugin-menu"></div>
        <p></p>
        <div id="screen-copy" class="screen-menu-bottom"><span class="language" data-text="{{コピー}}" data-shortcut-key="cCtrl" data-shortcut-text="Ctrl + C" data-area="screen">Copy</span></div>
        <div id="screen-paste" class="screen-menu-bottom"><span class="language" data-text="{{ペースト}}" data-shortcut-key="vCtrl" data-shortcut-text="Ctrl + V" data-area="screen">Paste</span></div>
        <div id="screen-delete" class="screen-menu-bottom"><span class="language" data-text="{{削除}}" data-shortcut-key="Backspace" data-shortcut-text="Delete" data-area="screen">Delete</span></div>
        <p></p>
        <div id="screen-preview" class="screen-menu-bottom"><span class="language" data-text="{{プレビュー}}" data-shortcut-key="EnterCtrl" data-shortcut-text="Ctrl + Enter" data-area="screen">Preview</span><i></i></div>
    </div>
</div>
