<div id="screen-menu" class="none">
    <div class="screen-menu-list">
        <span class="screen-menu-title language" data-text="{{重ね順}}">重ね順</span>
<!--        <div class="screen-order">-->
<!--            <div id="screen-front" class="screen-menu-bottom" data-detail="{{最前面}}" data-shortcut-key="ArrowUpShiftCtrl" data-shortcut-text="Ctrl + Shift + ▲" data-area="screen"><i></i></div>-->
<!--            <div id="screen-front-one" class="screen-menu-bottom" data-detail="{{ひとつ前面へ}}" data-shortcut-key="ArrowUpCtrl" data-shortcut-text="Ctrl + ▲" data-area="screen"><i></i></div>-->
<!--            <div id="screen-back-one" class="screen-menu-bottom" data-detail="{{ひとつ背面へ}}" data-shortcut-key="ArrowDownCtrl" data-shortcut-text="Ctrl + ▼" data-area="screen"><i></i></div>-->
<!--            <div id="screen-back" class="screen-menu-bottom" data-detail="{{最背面}}" data-shortcut-key="ArrowDownShiftCtrl" data-shortcut-text="Ctrl + Shift + ▼" data-area="screen"><i></i></div>-->
<!--        </div>-->
        <div id="screen-front" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最前面}}" data-shortcut-key="ArrowUpShiftCtrl" data-shortcut-text="Ctrl + Shift + ▲" data-area="screen">最前面</span></div>
        <div id="screen-front-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ前面へ}}" data-shortcut-key="ArrowUpCtrl" data-shortcut-text="Ctrl + ▲" data-area="screen">ひとつ前面へ</span></div>
        <div id="screen-back-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ背面へ}}" data-shortcut-key="ArrowDownCtrl" data-shortcut-text="Ctrl + ▼" data-area="screen">ひとつ背面へ</span></div>
        <div id="screen-back" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最背面}}" data-shortcut-key="ArrowDownShiftCtrl" data-shortcut-text="Ctrl + Shift + ▼" data-area="screen">最背面</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{整列}}">整列</span>
        <div class="screen-align">
            <div id="screen-position-left" class="screen-menu-bottom" data-detail="{{左揃え}}" data-shortcut-key="1" data-shortcut-text="1" data-area="screen"><i></i></div>
            <div id="screen-position-center" class="screen-menu-bottom" data-detail="{{中央揃え(水平方向)}}" data-shortcut-key="2" data-shortcut-text="2" data-area="screen"><i></i></div>
            <div id="screen-position-right" class="screen-menu-bottom" data-detail="{{右揃え}}" data-shortcut-key="3" data-shortcut-text="3" data-area="screen"><i></i></div>
            <div id="screen-position-top" class="screen-menu-bottom" data-detail="{{上揃え}}" data-shortcut-key="4" data-shortcut-text="4" data-area="screen"><i></i></div>
            <div id="screen-position-middle" class="screen-menu-bottom" data-detail="{{中央揃え(垂直方向)}}" data-shortcut-key="5" data-shortcut-text="5" data-area="screen"><i></i></div>
            <div id="screen-position-bottom" class="screen-menu-bottom" data-detail="{{下揃え}}" data-shortcut-key="6" data-shortcut-text="6" data-area="screen"><i></i></div>
        </div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{ステージ基準}}">ステージ基準</span>
        <div class="screen-align">
            <div id="stage-position-left" class="screen-menu-bottom" data-detail="{{ステージ左揃え}}" data-shortcut-key="!Shift" data-shortcut-text="Shift + 1" data-area="screen"><i></i></div>
            <div id="stage-position-center" class="screen-menu-bottom" data-detail="{{ステージ中央揃え(水平方向)}}" data-shortcut-key='"Shift' data-shortcut-text="Shift + 2" data-area="screen"><i></i></div>
            <div id="stage-position-right" class="screen-menu-bottom" data-detail="{{ステージ右揃え}}" data-shortcut-key="#Shift" data-shortcut-text="Shift + 3" data-area="screen"><i></i></div>
            <div id="stage-position-top" class="screen-menu-bottom" data-detail="{{ステージ上揃え}}" data-shortcut-key="$Shift" data-shortcut-text="Shift + 4" data-area="screen"><i></i></div>
            <div id="stage-position-middle" class="screen-menu-bottom" data-detail="{{ステージ中央揃え(垂直方向)}}" data-shortcut-key="%Shift" data-shortcut-text="Shift + 5" data-area="screen"><i></i></div>
            <div id="stage-position-bottom" class="screen-menu-bottom" data-detail="{{ステージ下揃え}}" data-shortcut-key="&Shift" data-shortcut-text="Shift + 6" data-area="screen"><i></i></div>
        </div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{タイムライン}}">Timeline</span>
        <div id="screen-distribute-to-layers" class="screen-menu-bottom"><span class="language" data-text="{{レイヤーに配分}}" data-shortcut-key="dCtrl" data-shortcut-text="Ctrl + D" data-area="screen">レイヤーに配分</span></div>
        <div id="screen-distribute-to-keyframes" class="screen-menu-bottom"><span class="language" data-text="{{キーフレームに配分}}" data-shortcut-key="kCtrl" data-shortcut-text="Ctrl + K" data-area="screen">キーフレームに配分</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{シェイプ}}">シェイプ</span>
        <div id="screen-integrating-paths" class="screen-menu-bottom"><i></i><span class="language" data-text="{{パスの結合}}" data-shortcut-key="iCtrl" data-shortcut-text="Ctrl + I" data-area="screen">パスの結合</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{トゥイーン}}">Tween</span>
        <div id="screen-add-tween-curve-pointer" class="screen-menu-bottom"><span class="language" data-text="{{カーブポインターの追加}}" data-shortcut-key="pCtrl" data-shortcut-text="Ctrl + P" data-area="screen">カーブポインターの追加</span></div>
        <div id="screen-delete-tween-curve-pointer" class="screen-menu-bottom"><span class="language" data-text="{{カーブポインターの削除}}" data-shortcut-key="pShiftCtrl" data-shortcut-text="Ctrl + Shift + P" data-area="screen">カーブポインターの削除</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{変換}}">変換</span>
        <div id="screen-change-movie-clip" class="screen-menu-bottom"><i></i><span class="language" data-text="{{MovieClipに変換}}" data-shortcut-key="mShift" data-shortcut-text="Shift + M" data-area="screen">MovieClipに変換</span></div>
        <p></p>
        <div id="screen-preview" class="screen-menu-bottom"><i></i><span class="language" data-text="{{プレビュー}}" data-shortcut-key="EnterCtrl" data-shortcut-text="Ctrl + Enter" data-area="screen">Preview</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{プラグインメニュー}}">Plugin Menu</span>
        <div id="plugin-menu"></div>
    </div>
</div>
