<div id="screen">
    <div id="ruler-left" data-remove-zone="true" style="display: none;"></div>
    <div id="ruler-top" data-remove-zone="true" style="display: none;"></div>
    <div id="stage-rect" style="display: none;"></div>
    <div id="draw-rect" style="display: none;"></div>
    <div id="draw-text" style="display: none;"></div>
    <div id="stage-area">
        <div id="stage"></div>
        <div id="target-rect" style="display: none;"></div>
        <div id="standard-point" class="standard-point" style="display: none;"></div>
        <div id="target-rotation" style="display: none;"></div>
        <div id="scale-top-left" style="display: none;"></div>
        <div id="scale-top-right" style="display: none;"></div>
        <div id="scale-bottom-left" style="display: none;"></div>
        <div id="scale-bottom-right" style="display: none;"></div>
        <div id="scale-center-left" style="display: none;"></div>
        <div id="scale-center-top" style="display: none;"></div>
        <div id="scale-center-right" style="display: none;"></div>
        <div id="scale-center-bottom" style="display: none;"></div>
        <div id="grid-top-left" style="display: none;"></div>
        <div id="grid-top-right" style="display: none;"></div>
        <div id="grid-bottom-left" style="display: none;"></div>
        <div id="grid-bottom-right" style="display: none;"></div>
        <div id="reference-point" style="display: none;"></div>
    </div>
</div>
