<div id="screen-menu" class="none">
    <div class="screen-menu-list">
        <span class="screen-menu-title language" data-text="{{表示}}">表示</span>
        <div id="screen-order" class="screen-menu-bottom"><span class="language" data-text="{{重ね順}}">重ね順</span><i></i></div>
        <div id="screen-align" class="screen-menu-bottom"><span class="language" data-text="{{整列}}">整列</span><i></i></div>
        <div id="screen-ruler" class="screen-menu-bottom"><span class="language" data-text="{{定規}}" data-shortcut-key="rShiftCtrl" data-shortcut-text="Ctrl + Shift + R" data-area="screen">定規</span></div>
        <div id="screen-change-scene" class="screen-menu-bottom"><span class="language" data-text="{{シンボルを編集}}" data-shortcut-key="e" data-shortcut-text="E" data-area="screen">シンボルを編集</span></div>
        <div id="screen-move-scene" class="screen-menu-bottom"><span class="language" data-text="{{親の階層へ移動}}" data-shortcut-key="rShift" data-shortcut-text="Shift + E" data-area="screen">親の階層へ移動</span></div>
<!--        <div id="screen-sorption" class="screen-menu-bottom"><i></i><span class="language" data-text="{{吸着}}" data-shortcut-key="uShift" data-shortcut-text="Shift + U" data-area="screen">吸着</span></div>-->
        <p></p>
        <span class="screen-menu-title language" data-text="{{タイムライン}}">タイムライン</span>
        <div id="screen-distribute-to-layers" class="screen-menu-bottom"><span class="language" data-text="{{レイヤーに配分}}" data-shortcut-key="dCtrl" data-shortcut-text="Ctrl + D" data-area="screen">レイヤーに配分</span></div>
        <div id="screen-distribute-to-keyframes" class="screen-menu-bottom"><span class="language" data-text="{{キーフレームに配分}}" data-shortcut-key="kCtrl" data-shortcut-text="Ctrl + K" data-area="screen">キーフレームに配分</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{シェイプ}}">シェイプ</span>
        <div id="screen-integrating-paths" class="screen-menu-bottom"><i></i><span class="language" data-text="{{パスの結合}}" data-shortcut-key="iCtrl" data-shortcut-text="Ctrl + I" data-area="screen">パスの結合</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{トゥイーン}}">Tween</span>
        <div id="screen-add-tween-curve-pointer" class="screen-menu-bottom"><span class="language" data-text="{{カーブポインターの追加}}" data-shortcut-key="pCtrl" data-shortcut-text="Ctrl + P" data-area="screen">カーブポインターの追加</span></div>
        <div id="screen-delete-tween-curve-pointer" class="screen-menu-bottom"><span class="language" data-text="{{カーブポインターの削除}}" data-shortcut-key="pShiftCtrl" data-shortcut-text="Ctrl + Shift + P" data-area="screen">カーブポインターの削除</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{変換}}">変換</span>
        <div id="screen-change-movie-clip" class="screen-menu-bottom"><i></i><span class="language" data-text="{{MovieClipに変換}}" data-shortcut-key="mShift" data-shortcut-text="Shift + M" data-area="screen">MovieClipに変換</span></div>
        <p></p>
        <div id="screen-preview" class="screen-menu-bottom"><i></i><span class="language" data-text="{{プレビュー}}" data-shortcut-key="EnterCtrl" data-shortcut-text="Ctrl + Enter" data-area="screen">Preview</span></div>
        <p></p>
        <span class="screen-menu-title language" data-text="{{プラグインメニュー}}">Plugin Menu</span>
        <div id="plugin-menu"></div>
    </div>
</div>
