<div id="screen-order-menu" class="none">
    <div class="screen-menu-list">
        <div id="screen-front" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最前面}}" data-shortcut-key="ArrowUpShiftCtrl" data-shortcut-text="Ctrl + Shift + ▲" data-area="screen">最前面</span></div>
        <div id="screen-front-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ前面へ}}" data-shortcut-key="ArrowUpCtrl" data-shortcut-text="Ctrl + ▲" data-area="screen">ひとつ前面へ</span></div>
        <div id="screen-back-one" class="screen-menu-bottom"><i></i><span class="language" data-text="{{ひとつ背面へ}}" data-shortcut-key="ArrowDownCtrl" data-shortcut-text="Ctrl + ▼" data-area="screen">ひとつ背面へ</span></div>
        <div id="screen-back" class="screen-menu-bottom"><i></i><span class="language" data-text="{{最背面}}" data-shortcut-key="ArrowDownShiftCtrl" data-shortcut-text="Ctrl + Shift + ▼" data-area="screen">最背面</span></div>
    </div>
</div>
