<div id="shortcut-setting-menu" class="none">

    <div id="shortcut-setting-tab">
        <div id="shortcut-setting-screen" class="shortcut-active">
            <span class="language" data-tab="screen" data-text="{{スクリーン}}">スクリーン</span>
        </div>
        <div id="shortcut-setting-timeline">
            <span class="language" data-tab="timeline" data-text="{{タイムライン}}">タイムライン</span>
        </div>
        <div id="shortcut-setting-library">
            <span class="language" data-tab="library" data-text="{{ライブラリ}}">ライブラリ</span>
        </div>
    </div>

    <div id="shortcut-setting-list">
        <div id="shortcut-list-screen"></div>
        <div id="shortcut-list-timeline"></div>
        <div id="shortcut-list-library"></div>
    </div>

    <div id="shortcut-setting-footer">
        <div id="shortcut-setting-reset">
            <span class="language" data-text="{{リセット}}">リセット</span>
        </div>
        <div id="shortcut-setting-save">
            <span class="language" data-text="{{保存}}">保存</span>
        </div>
        <div id="shortcut-setting-close">
            <span class="language" data-text="{{閉じる}}">閉じる</span>
        </div>
    </div>
</div>
