<div id="view-tab">
    <i id="view-tab-add" data-detail="{{タブを追加}}"></i>
    <i id="view-tab-list" data-detail="{{タブの一覧を表示・移動}}"></i>
    <div id="view-tab-area"></div>
</div>
<div id="tab-name-menu" class="none">
    <div id="tab-name-menu-list"></div>
</div>
