<div id="timeline-header-menu" class="none">
    <div class="timeline-header-menu-list">
        <div id="context-menu-script-add-one"><i></i><span class="language" data-text="{{スクリプトを追加}}" data-shortcut-key="s" data-shortcut-text="S" data-area="timeline">スクリプトを追加</span></div>
        <p></p>
        <div id="context-menu-script-copy-all"><span class="language" data-text="{{全てのスクリプトをコピー}}">全てのスクリプトをコピー</span></div>
        <div id="context-menu-script-copy"><span class="language" data-text="{{スクリプトをコピー}}">スクリプトをコピー</span></div>
        <div id="context-menu-script-paste"><span class="language" data-text="{{スクリプトをペースト}}">スクリプトをペースト</span></div>
        <p></p>
        <div id="context-menu-label-copy-all"><span class="language" data-text="{{全てのラベルをコピー}}">全てのラベルをコピー</span></div>
        <div id="context-menu-label-copy"><span class="language" data-text="{{ラベルをコピー}}">ラベルをコピー</span></div>
        <div id="context-menu-label-paste"><span class="language" data-text="{{ラベルをペースト}}">ラベルをペースト</span></div>
        <p></p>
        <div id="context-menu-sound-copy-all"><span class="language" data-text="{{全てのサウンドをコピー}}">全てのサウンドをコピー</span></div>
        <div id="context-menu-sound-copy"><span class="language" data-text="{{サウンドをコピー}}">サウンドをコピー</span></div>
        <div id="context-menu-sound-paste"><span class="language" data-text="{{サウンドをペースト}}">サウンドをペースト</span></div>
    </div>
</div>
