<div id="timeline-layer-menu" class="none">
    <div id="timeline-layer-menu-list">
        <div id="timeline-layer-normal"><i></i><span class="language" data-text="{{通常レイヤー}}" data-shortcut-key="nShift" data-shortcut-text="Shift + N" data-area="timeline">通常レイヤー</span></div>
        <div id="timeline-layer-mask"><i></i><span class="language" data-text="{{マスクレイヤー}}" data-shortcut-key="mShift" data-shortcut-text="Shift + M" data-area="timeline">マスクレイヤー</span></div>
        <div id="timeline-layer-guide"><i></i><span class="language" data-text="{{ガイドレイヤー}}" data-shortcut-key="gShift" data-shortcut-text="Shift + G" data-area="timeline">ガイドレイヤー</span></div>
        <p></p>
        <div>
            <span class="language" data-text="{{レイヤーカラー}}">レイヤーカラー</span>
            &nbsp;
            <input type="color" id="timeline-layer-color">
        </div>
        <p></p>
        <div id="timeline-layer-copy"><span class="language" data-text="{{レイヤーをコピー}}">レイヤーをコピー</span></div>
        <div id="timeline-layer-paste"><span class="language" data-text="{{レイヤーをペースト}}">レイヤーをペースト</span></div>
        <p></p>
        <div>
            <span class="language" data-text="{{レイヤーの高さ}}">レイヤーの高さ</span>
            <select id="timeline-layer-scale">
                <option value="0.5">50%</option>
                <option value="1.0" selected>100%</option>
                <option value="1.5">150%</option>
            </select>
        </div>
    </div>
</div>
