<div id="timeline">

    <div id="timeline-adjustment"></div>

    <div class="timeline-tools">

        <div id="scene">

            <i id="scene-list"></i>
            <div id="scene-name"></div>

            <div id="scene-name-menu" class="none">
                <div id="scene-name-menu-list"></div>
            </div>

        </div>

        <div class="tools">

            <i id="timeline-script-add" data-detail="{{スクリプトを追加}}"></i>
            <i id="timeline-key-add" data-detail="{{キーフレームを追加}}"></i>
            <i id="timeline-empty-add" data-detail="{{空のキーフレームを追加}}"></i>
            <i id="timeline-frame-add" data-detail="{{フレームを追加}}"></i>
            <i id="timeline-frame-delete" data-detail="{{フレームを削除}}"></i>
            <i id="timeline-onion-skin" data-detail="{{オニオンスキン}}"></i>
            <i id="timeline-preview" class="timeline-preview-disable" data-detail="{{プレビューのON/OFF}}"></i>
            <div class="timeline-border"></div>

            <input type="text" id="current-frame" value="1">
            <i id="timeline-play" data-detail="{{再生}}"></i>
            <i id="timeline-stop" data-detail="{{停止}}"></i>
            <i id="timeline-repeat" data-detail="{{ループ設定}}"></i>
            <i id="timeline-no-repeat" data-detail="{{ループ設定}}"></i>
            <div class="timeline-border"></div>
            <input type="text" placeholder="Label" id="label-name" value="" data-detail="{{フレームラベル}}">
            <div class="timeline-border"></div>
            <div class="screen-zoom-area">
                <input type="text" id="timeline-scale" value="100" data-detail="{{タイムライン幅の拡大・縮小}}">%
            </div>
        </div>

    </div>

    <div class="timeline-controller">

        <div class="timeline-controller-tools">
            <i id="timeline-layer-add" data-detail="{{レイヤーを追加}}"></i>
            <i id="timeline-layer-trash" data-detail="{{レイヤーを削除}}"></i>
            <i id="timeline-layer-light-all" class="timeline-layer-light" data-detail="{{全てのレイヤーをハイライト}}"></i>
            <i id="timeline-layer-disable-all" class="timeline-layer-disable" data-detail="{{全てのレイヤーを非表示}}"></i>
            <i id="timeline-layer-lock-all" class="timeline-layer-lock" data-detail="{{全てのレイヤーをロック}}"></i>
        </div>

        <div id="timeline-controller-base">
            <div id="timeline-marker"></div>
            <div id="timeline-header"></div>
        </div>

    </div>

    <div id="timeline-content"></div>

    <div id="target-group"></div>

    <div id="timeline-menu" class="none">
        <div class="timeline-menu-list">
            <div id="context-menu-tween-add"><span class="language" data-text="{{モーショントゥイーンの追加}}">モーショントゥイーンの追加</span></div>
            <div id="context-menu-tween-delete"><span class="language" data-text="{{モーショントゥイーンの削除}}">モーショントゥイーンの削除</span></div>
            <!--              <div id="context-menu-morph-add">Added Shape Morphing</div>-->
            <!--              <div id="context-menu-morph-delete">Deleted Shape Morphing</div>-->
            <p></p>
            <div id="context-menu-script-add"><i></i><span class="language" data-text="{{JavaScriptの追加}}">JavaScriptの追加</span></div>
            <p></p>
            <div id="context-menu-key-frame-add"><i></i><span class="language" data-text="{{キーフレームを追加}}">キーフレームを追加</span></div>
            <div id="context-menu-empty-key-frame-add"><i></i><span class="language" data-text="{{空のキーフレームを追加}}">空のキーフレームを追加</span></div>
            <div id="context-menu-key-frame-delete"><span class="language" data-text="{{キーフレームを削除}}">キーフレームを削除</span></div>
            <p></p>
            <div id="context-menu-frame-add"><i></i><span class="language" data-text="{{フレームを追加}}">フレームを追加</span></div>
            <div id="context-menu-frame-delete"><i></i><span class="language" data-text="{{フレームを削除}}">フレームを削除</span></div>
            <div id="context-menu-frame-copy"><span class="language" data-text="{{フレームをコピー}}">フレームをコピー</span></div>
            <div id="context-menu-frame-paste"><span class="language" data-text="{{フレームをペースト}}">フレームをペースト</span></div>
            <p></p>
            <div id="context-menu-layer-copy"><span class="language" data-text="{{レイヤーをコピー}}">レイヤーをコピー</span></div>
            <div id="context-menu-layer-paste"><span class="language" data-text="{{レイヤーをペースト}}">レイヤーをペースト</span></div>
        </div>
    </div>

    <div id="timeline-layer-menu" class="none">
        <div id="timeline-layer-menu-list">
            <div id="timeline-layer-normal"><i></i><span class="language" data-text="{{通常レイヤー}}">通常レイヤー</span></div>
            <div id="timeline-layer-mask"><i></i><span class="language" data-text="{{マスクレイヤー}}">マスクレイヤー</span></div>
            <div id="timeline-layer-guide"><i></i><span class="language" data-text="{{ガイドレイヤー}}">ガイドレイヤー</span></div>
            <p></p>
            <div>
                <span class="language" data-text="{{レイヤーカラー}}">レイヤーカラー</span>
                &nbsp;
                <input type="color" id="timeline-layer-color">
            </div>
        </div>
    </div>

    <div id="timeline-preview-modal" style="display:none;"></div>
</div>
