<div id="timeline-menu" class="none">
    <div class="timeline-menu-list">
        <div id="context-menu-tween-add"><span class="language" data-text="{{モーショントゥイーンの追加}}" data-shortcut-key="m" data-shortcut-text="M" data-area="timeline">モーショントゥイーンの追加</span></div>
        <div id="context-menu-tween-delete"><span class="language" data-text="{{モーショントゥイーンの削除}}" data-shortcut-key="mCtrl" data-shortcut-text="Ctrl + M" data-area="timeline">モーショントゥイーンの削除</span></div>
        <!--              <div id="context-menu-morph-add">Added Shape Morphing</div>-->
        <!--              <div id="context-menu-morph-delete">Deleted Shape Morphing</div>-->
        <p></p>
        <div id="context-menu-script-add"><i></i><span class="language" data-text="{{スクリプトを追加}}" data-shortcut-key="s" data-shortcut-text="S" data-area="timeline">スクリプトを追加</span></div>
        <p></p>
        <div id="context-menu-key-frame-add"><i></i><span class="language" data-text="{{キーフレームを追加}}" data-shortcut-key="k" data-shortcut-text="K" data-area="timeline">キーフレームを追加</span></div>
        <div id="context-menu-key-frame-delete"><span class="language" data-text="{{キーフレームを削除}}" data-shortcut-key="kCtrl" data-shortcut-text="Ctrl + K" data-area="timeline">キーフレームを削除</span></div>
        <div id="context-menu-empty-key-frame-add"><i></i><span class="language" data-text="{{空のキーフレームを追加}}" data-shortcut-key="e" data-shortcut-text="E" data-area="timeline">空のキーフレームを追加</span></div>
        <p></p>
        <div id="context-menu-frame-add"><i></i><span class="language" data-text="{{フレームを追加}}" data-shortcut-key="f" data-shortcut-text="F" data-area="timeline">フレームを追加</span></div>
        <div id="context-menu-frame-delete"><i></i><span class="language" data-text="{{フレームを削除}}" data-shortcut-key="fCtrl" data-shortcut-text="Ctrl + F" data-area="timeline">フレームを削除</span></div>
<!--        <div id="context-menu-frame-copy"><span class="language" data-text="{{フレームをコピー}}">フレームをコピー</span></div>-->
<!--        <div id="context-menu-frame-paste"><span class="language" data-text="{{フレームをペースト}}">フレームをペースト</span></div>-->
        <p></p>
        <div id="context-menu-layer-copy"><span class="language" data-text="{{レイヤーをコピー}}">レイヤーをコピー</span></div>
        <div id="context-menu-layer-paste"><span class="language" data-text="{{レイヤーをペースト}}">レイヤーをペースト</span></div>
    </div>
</div>
