<div id="tools">

    <div id="tools-arrow" class="item" data-mode="tool" data-detail="{{選択ツール}}" data-shortcut-key="v" data-shortcut-text="V" data-area="screen"></div>
    <div id="tools-arrow-transform" class="item" data-mode="tool" data-detail="{{自由変形ツール}}" data-shortcut-key="q" data-shortcut-text="Q" data-area="screen"></div>
    <div class="tools-border"></div>

    <div id="tools-transform" class="item" data-mode="tool" data-name="transform" data-detail="{{Shape変形ツール}}" data-shortcut-key="a" data-shortcut-text="A" data-area="screen"></div>
    <div id="tools-pen" class="item" data-mode="tool" data-name="pen" data-detail="{{ペンツール}}" data-shortcut-key="p" data-shortcut-text="P" data-area="screen"></div>
    <div id="tools-bucket" class="item" data-mode="tool" data-name="bucket" data-detail="{{バケツツール}}" data-shortcut-key="k" data-shortcut-text="K" data-area="screen"></div>
    <div id="tools-rectangle" class="item" data-mode="tool" data-name="rectangle" data-detail="{{矩形ツール}}" data-shortcut-key="r" data-shortcut-text="R" data-area="screen"></div>
    <div id="tools-circle" class="item" data-mode="tool" data-name="circle" data-detail="{{楕円ツール}}" data-shortcut-key="o" data-shortcut-text="O" data-area="screen"></div>
    <div id="tools-round-rect" class="item" data-mode="tool" data-name="round-rect" data-detail="{{角丸矩形ツール}}" data-shortcut-key="rShift" data-shortcut-text="Shift + R" data-area="screen"></div>

    <div id="tools-fill-color">
        <input type="color" id="fill-color" value="#000000" data-detail="{{塗りのカラー}}">
    </div>
    <div id="tools-stroke-color">
        <input type="color" id="stroke-color" value="#000000" data-detail="{{線のカラー}}">
    </div>
    <div id="tools-stroke-size">
        <input type="number" id="stroke-size" value="1" data-detail="{{線の太さ}}">
    </div>
    <div class="tools-border"></div>

    <div id="tools-text" class="item" data-mode="tool" data-name="text" data-detail="{{テキストツール}}" data-shortcut-key="t" data-shortcut-text="T" data-area="screen"></div>
    <div class="tools-border"></div>

    <div id="tools-zoom" class="item" data-mode="tool" data-detail="{{ズームツール}}" data-shortcut-key="z" data-shortcut-text="Z" data-area="screen"></div>
    <input type="number" id="screen-scale" value="100" data-detail="{{画面の拡大・縮小}}">
    <div class="tools-border"></div>

    <div id="tools-load" class="item" data-detail="{{プロジェクトデータの読込}}" data-shortcut-key="rCtrl" data-shortcut-text="Ctrl + R" data-area="screen"></div>
    <input type="file" id="tools-load-file-input" accept=".n2d">
    <div id="tools-save" class="item" data-detail="{{プロジェクトデータを保存}}" data-shortcut-key="sShiftCtrl" data-shortcut-text="Ctrl + Shift + S" data-area="screen"></div>
    <div id="tools-export" class="item" data-detail="{{書き出し}}" data-shortcut-key="EnterShiftCtrl" data-shortcut-text="Ctrl + Shift + Enter" data-area="screen"></div>
    <div id="tools-save-folder"><a id="save-anchor" href=""></a></div>
    <div class="tools-border"></div>

    <div id="tools-setting" class="item" data-detail="{{設定}}" data-shortcut-key="s" data-shortcut-text="S" data-area="screen"></div>
    <div class="tools-border"></div>

    <div id="plugin-tools"></div>

</div>
