<div id="user-setting" class="none">
    <div class="user-setting-list">

        <div class="user-setting-title">
            <i></i>
            <span class="language" data-text="{{設定}}">設定</span>
        </div>
        <div class="user-setting-container-column">
            <div><span class="language" data-text="{{非表示レイヤー}}">非表示レイヤー</span></div>
            <div>
                <select id="publish-layer-setting">
                    <option class="language" data-text="{{含めない}}" value="0">含めない</option>
                    <option class="language" data-text="{{含める}}" value="1">含める</option>
                </select>
            </div>

            <div><span class="language" data-text="{{フォーマット}}">フォーマット</span></div>
            <div>
                <select id="publish-type-setting">
                    <option value="zlib">JSON(compression)</option>
                    <option value="json">JSON(uncompressed)</option>
                    <option value="webm">Video(webm)</option>
                    <option value="gif-loop">GIF Loop Animation</option>
                    <option value="gif">GIF Animation</option>
                    <option value="png">PNG Snapshot</option>
                    <option value="apng-loop">APNG(Loop)</option>
                    <option value="apng">APNG</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
        </div>
        <p></p>

        <div class="user-setting-title">
            <i></i>
            <span class="language" data-text="{{言語}}">言語</span>
        </div>
        <div class="user-setting-container-column">
            <div>
                <select id="language-setting">
                    <option value="Japanese">日本語</option>
                    <option value="English">English</option>
                    <option value="Korean">한국어</option>
                    <option value="Chinese">中文</option>
                    <option value="French">Français</option>
                    <option value="Russia">Русский</option>
                    <option value="Italiano">Italiano</option>
                    <option value="Spanish">Español</option>
                </select>
            </div>
        </div>
        <p></p>

        <div class="user-setting-title">
            <i></i>
            <span class="language" data-text="{{モーダル表示}}">モーダル表示</span>
        </div>
        <div class="user-setting-container-column">
            <select id="modal-setting">
                <option value="1">On</option>
                <option value="0">Off</option>
            </select>
        </div>
        <p></p>

        <div class="user-setting-title">
            <i></i>
            <span class="language" data-text="{{サポート}}">サポート</span>
        </div>
        <div class="user-setting-container-row">
            <a href="https://discord.gg/6c9rv5Uns5" target="_blank" rel="noopener noreferrer">
                <div id="tools-discord" class="item" data-detail="{{Discordへ移動}}"></div>
            </a>
            <a href="https://github.com/Next2D/tool.next2d.app/issues" target="_blank" rel="noopener noreferrer">
                <div id="tools-bug" class="item" data-detail="{{バグ報告}}"></div>
            </a>
            <a href="https://next2d.app/en/usage" target="_blank" rel="noopener noreferrer">
                <div id="tools-usage" class="item" data-detail="{{使い方、リファレンス}}"></div>
            </a>
            <a href="https://github.com/sponsors/Next2D" target="_blank" rel="noopener noreferrer">
                <div id="tools-github" class="item" data-detail="{{Next2Dを支援する}}"></div>
            </a>
            <a href="https://www.patreon.com/next2d" target="_blank" rel="noopener noreferrer">
                <div id="tools-patreon" class="item" data-detail="{{Next2Dを支援する}}"></div>
            </a>
        </div>
        <p></p>

        <div class="user-setting-title">
            <i></i>
            <span class="language" data-text="{{ショートカット}}">ショートカット</span>
        </div>

        <div class="user-setting-container-column">
            <div id="shortcut-setting">
                <span class="language" data-text="{{ショートカット設定}}">ショートカット設定</span>
            </div>
        </div>
        <p></p>

        <div class="user-setting-container-column">
            <div>β version: ###BUILD_VERSION###</div>
        </div>

    </div>
</div>
