#library-export-modal
{
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    position         : fixed;
    top              : 50%;
    left             : 50%;
    width            : 770px;
    height           : 550px;
    transform        : translate(-50%,-50%);
    background-color : #363636;
    color            : whitesmoke;
    border           : 1px solid #72777D;
    z-index          : 9999;
    overflow         : hidden;
    border-radius    : 4px;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
}

#library-export-bar
{
    width            : 770px;
    height           : 30px;
    background-color : #2c2c2c;
    display          : flex;
    align-items      : center;
}

#library-export-title
{
    width           : 750px;
    height          : 30px;
    text-align      : center;
    color           : whitesmoke;
    font-size       : 12px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    pointer-events  : none;
}

#library-export-hide-icon
{
    width               : 12px;
    height              : 12px;
    background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 24 24"><path fill="whitesmoke" d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"/></svg>');
    background-repeat   : no-repeat;
    background-position : center center;
    margin-right        : 5px;
}

#library-export-hide-icon:hover
{
    cursor           : pointer;
    border-radius    : 2px;
    background-color : #7c7c7c;
}

#library-export-body
{
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 770px;
    height          : 520px;
}

#library-export-preview
{
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 500px;
    height          : 520px;
}

#library-export-image
{
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 450px;
    height          : 450px;
}

#library-export-image canvas
{
    background-color : #fcfcfc;
}

#library-export-setting
{
    display        : flex;
    flex-direction : column;
    width          : 270px;
    height         : 520px;
}

#library-export-setting .library-export-setting-block
{
    display       : flex;
    margin-bottom : 5px;
}

#library-export-setting .library-export-setting-block-left
{
    width           : 20px;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

#library-export-size-lock
{
    width      : 18px;
    text-align : right;
    color      : darkgray;
}

#library-export-size-lock:hover
{
    filter : brightness(200%);
    cursor : pointer;
}

#library-export-setting .library-export-setting-container
{
    display     : flex;
    align-items : center;
    margin      : 12px;
}

#library-export-setting .library-export-setting-button
{
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 8px 26px 12px 12px;
}

#library-export-setting .library-export-setting-text
{
    width       : 25px;
    font-size   : 10px;
    color       : darkgray;
    text-align  : center;
}

#library-export-setting .library-export-setting-title
{
    display     : flex;
    font-size   : 15px;
    font-weight : bold;
    margin      : 12px 12px 8px 0;
    color       : #a9a9a9;
}

#library-export-file-type
{
    width            : 120px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;
    font-size        : 12px;
}

#export-jpeg-quality
{
    border           : none;
    border-bottom    : 1px solid darkgray;
    outline          : none;
    background-color : transparent;
    color            : #f5f5f5;
    text-align       : center;
    width            : 50px;
    margin           : 3px 3px 3px 16px;
}

#library-export-execution
{
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 120px;
    height          : 25px;
    padding         : 5px;
    border-radius   : 5px;
    border          : 1px solid #72777D;
}

#library-export-execution:hover
{
    background-color : #1c1c1c;
    cursor           : pointer;
}

#export-name
{
    border           : none;
    border-bottom    : 1px solid darkgray;
    outline          : none;
    background-color : transparent;
    color            : #f5f5f5;
    width            : 220px;
    padding          : 6px;
}
