:root{
    --tool-cursor: auto;
    --controller-width: 360px;
    --timeline-height: 0;
    --timeline-frame-width: 13px;
    --timeline-frame-height: 30px;
    --marker-width: 13px;
    --ad: 260px;
    --ruler-size: 4px;
    --timeline-scroll-bar-width: 0px;
    --timeline-scroll-bar-height: 0px;
}

html, body
{
    width            : 100%;
    height           : 100%;
    overflow         : hidden;
    transform        : translate3d(0, 0, 0);
    background-color : #1a1a1a;
    margin           : 0;
    padding          : 0;
    color            : whitesmoke;
    font-size        : 12px;
    user-select      : none;
    cursor           : var(--tool-cursor);
    font-family      :
        "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

main
{
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : flex-end;
    width           : 100%;
    height          : 100%;
}

.language
{
    pointer-events : none;
}

#main input[type="number"]::-webkit-outer-spin-button,
#main input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#main input[type="number"]
{
    -moz-appearance:textfield;
}

#main input:focus,
#main select:focus,
#main textarea:focus
{
    outline : none;
}

#main .none
{
    visibility : hidden;
}

#main .fadeIn
{
    visibility : visible;
    animation  : fadeIn 0.1s linear;
}

#main .fadeOut
{
    visibility : hidden;
    animation  : fadeOut 0.3s linear;
}

@keyframes fadeIn
{
    0%
    {
        opacity : 0;
    }

    100%
    {
        opacity : 1;
    }
}

@keyframes fadeOut
{
    0%
    {
        visibility : visible;
        opacity    : 1;
    }

    100%
    {
        opacity : 0;
    }
}

/**
 * advertisement
 */
#advertisement
{
    width            : var(--controller-width);
    height           : var(--ad);
    background-color : #1f1f1f;
    display          : block;
    /*justify-content  : center;*/
    /*align-items      : center;*/
}

#advertisement img
{
    padding : 0;
    margin  : 0;
}
