#library-menu
{
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    position         : fixed;
    min-width        : 250px;
    border-radius    : 10px;
    background-color : #363636;
    color            : whitesmoke;
    border           : 1px solid #72777D;
    z-index          : 9999;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
}

#detail-modal
{
    display          : grid;
    place-items      : center;
    position         : fixed;
    border-radius    : 4px;
    background-color : #4c4c4c;
    color            : whitesmoke;
    padding          : 4px;
    border           : 1px solid whitesmoke;
    font-size        : 10px;
    white-space      : nowrap;
    z-index          : 9999;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
    pointer-events   : none;
}

#tab-name-menu-list
{
    display        : flex;
    flex-direction : column;
    max-height     : 400px;
    overflow-x     : hidden;
    overflow-y     : auto;
}

#scene-name-menu-list
{
    display        : flex;
    flex-direction : column;
    max-height     : 400px;
    overflow-x     : hidden;
    overflow-y     : auto;
}

#detail-modal
{
    pointer-events : none;
}
