#save-progress-modal
{
    position         : fixed;
    display          : flex;
    flex-direction   : column;
    place-items      : center;
    justify-content  : center;
    border-radius    : 4px;
    background-color : #4c4c4c;
    color            : whitesmoke;
    padding          : 4px;
    border           : 1px solid #72777D;
    width            : 180px;
    height           : 35px;
    white-space      : nowrap;
    opacity          : 0.9;
    z-index          : 9999;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
}

#save-progress-modal div
{
    display     : flex;
    place-items : center;
    width       : 160px;
    padding     : 0 13px 3px 7px;
}

#save-progress-modal progress
{
    width          : 170px;
    height         : 10px;
    pointer-events : none;
}

#save-progress-modal:hover
{
    cursor: move;
}
