#align-setting
{
    border-bottom : 1px solid #1c1c1c;
    margin-bottom : 5px;

    .align-setting-container
    {
        display         : flex;
        align-items     : center;
        margin-bottom   : 8px;
    }

    .align-setting-text
    {
        min-width : 90px;
        font-size : 10px;
        margin    : 0 8px 0 12px;
        color     : darkgray;
    }

    .align-setting-container-bottom
    {
        display         : flex;
        align-items     : center;
        justify-content : center;

        div
        {
            display         : flex;
            align-items     : center;
            justify-content : center;
            min-width       : 25px;
            height          : 20px;
            border-radius   : 5px;
            padding         : 5px;

            &:hover
            {
                background-color : #1c1c1c;
                cursor           : pointer;
            }
        }
    }
}

#align-setting-title
{
    display     : flex;
    font-size   : 15px;
    font-weight : bold;
    margin      : 12px;
    color       : #a9a9a9;

    &:hover
    {
        filter : brightness(200%);
        cursor : pointer;
    }

    .active
    {
        transform           : rotate(90deg);
        transition          : 0.1s ease-out;
        background-position : 4px 5px;
    }

    .disable
    {
        transform           : rotate(0);
        transition          : 0.1s ease-out;
        background-position : 1px center;
    }

    i
    {
        width             : 18px;
        height            : 18px;
        background-image  : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
        background-repeat : no-repeat;
        margin-right      : 2px;
    }
}

#align-stage-position-right
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="whitesmoke"><path fill-rule="evenodd" d="M14.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/><path d="M13 7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 2px 4px 2px 4px;
        pointer-events      : none;
    }
}

#align-position-center,
#align-stage-position-center
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="whitesmoke"><path d="M8 1a.5.5 0 0 1 .5.5V6h-1V1.5A.5.5 0 0 1 8 1zm0 14a.5.5 0 0 1-.5-.5V10h1v4.5a.5.5 0 0 1-.5.5zM2 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 2px 4px 2px 4px;
        pointer-events      : none;
    }
}

#align-position-middle,
#align-stage-position-middle
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="whitesmoke" transform="rotate(90)"><path d="M8 1a.5.5 0 0 1 .5.5V6h-1V1.5A.5.5 0 0 1 8 1zm0 14a.5.5 0 0 1-.5-.5V10h1v4.5a.5.5 0 0 1-.5.5zM2 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 2px 4px 2px 4px;
        pointer-events      : none;
    }
}

#align-position-left,
#align-stage-position-left
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="whitesmoke"><path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/><path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 2px 4px 2px 4px;
        pointer-events      : none;
    }
}

#align-position-top,
#align-stage-position-top
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="whitesmoke"><rect width="4" height="12" rx="1" transform="matrix(1 0 0 -1 6 15)"/><path d="M1.5 2a.5.5 0 0 1 0-1v1zm13-1a.5.5 0 0 1 0 1V1zm-13 0h13v1h-13V1z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 2px 4px 2px 4px;
        pointer-events      : none;
    }
}

#align-position-bottom,
#align-stage-position-bottom
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16" fill="whitesmoke"><rect width="4" height="12" x="6" y="1" rx="1"/><path d="M1.5 14a.5.5 0 0 0 0 1v-1zm13 1a.5.5 0 0 0 0-1v1zm-13 0h13v-1h-13v1z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 2px 4px 2px 4px;
        pointer-events      : none;
    }
}