#change-movie-clip
{
    display          : flex;
    flex-direction   : column;
    position         : fixed;
    top              : 50%;
    left             : 50%;
    width            : 360px;
    height           : 200px;
    transform        : translate(-50%,-50%);
    background-color : #363636;
    color            : whitesmoke;
    border           : 1px solid #72777D;
    z-index          : 9999;
    overflow         : hidden;
    border-radius    : 4px;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);

    .change-movie-clip-title
    {
        height          : 30px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin-top      : 10px;
        margin-bottom   : 12px;
    }

    .change-movie-clip-container
    {
        display       : flex;
        align-items   : center;
        margin-bottom : 12px;

        input
        {
            border           : none;
            border-bottom    : 1px solid darkgray;
            outline          : none;
            background-color : transparent;
            color            : #f5f5f5;
            width            : 200px;
        }
    }

    .change-movie-clip-name
    {
        width           : 120px;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    .change-movie-clip-body
    {
        margin : 3px;
    }

    .change-movie-clip-reference-point
    {
        height          : 14px;
        display         : flex;
        justify-content : center;
        align-items     : center;

        .active
        {
            background-color : #e14f5f;
        }
    }

    .change-movie-clip-box-child
    {
        width            : 10px;
        height           : 10px;
        background-color : #f4f1f0;
        margin-right     : 4px;

        &:hover
        {
            cursor           : pointer;
            background-color : #e14f5f;
        }
    }

    .change-movie-clip-box
    {
        justify-content : center;
    }

    .button
    {
        display         : flex;
        align-items     : center;
        justify-content : center;
        min-width       : 100px;
        height          : 25px;
        padding         : 5px;
        margin          : 8px;
        border-radius   : 5px;
        border          : 1px solid #72777D;

        &:hover
        {
            background-color : #1c1c1c;
            cursor           : pointer;
        }
    }
}