#color-setting
{
    border-bottom : 1px solid #1c1c1c;
    margin-bottom : 5px;

    .color-setting-container
    {
        display     : flex;
        align-items : center;
        margin      : 12px;
    }

    .color-setting-text-multiplier
    {
        width       : 45px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }

    .color-setting-text
    {
        width       : 25px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }

    .color-setting-percent-text
    {
        width       : 8px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
        margin-right: 10px;
    }
}

#color-alpha-multiplier,
#color-red-multiplier,
#color-green-multiplier,
#color-blue-multiplier
{
    border           : none;
    border-bottom    : 1px solid darkgray;
    outline          : none;
    background-color : transparent;
    color            : #f5f5f5;
    text-align       : center;
    width            : 50px;
    margin           : 3px;

    &:focus
    {
        border-bottom : 1px solid #f5f5f5;
    }
}

#color-alpha-offset,
#color-red-offset,
#color-green-offset,
#color-blue-offset
{
    border           : none;
    border-bottom    : 1px solid darkgray;
    outline          : none;
    background-color : transparent;
    color            : #f5f5f5;
    text-align       : center;
    width            : 50px;
    margin           : 3px;

    &:focus
    {
        border-bottom : 1px solid #f5f5f5;
    }
}