#controller-area-library
{
    padding  : 5px;
    overflow : hidden;
    height   : calc(100vh - var(--controller-tab-area-height) - var(--ad) - var(--controller-padding-width));

    .library-search-area
    {
        display     : flex;
        align-items : end;
        color       : darkgray;
        height      : calc(var(--library-search-area-height));

        i
        {
            width               : var(--library-search-icon-width);
            height              : calc(var(--library-search-area-height) - 8px);
            background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/></svg>');
            background-repeat   : no-repeat;
            background-position : center center;
        }

        input[type="text"]
        {
            border           : 1px solid darkgray;
            border-radius    : 5px;
            outline          : none;
            background-color : transparent;
            color            : #f5f5f5;
            font-size        : 10px;
            width            : calc(var(--controller-width) - var(--controller-padding-width) - var(--library-search-icon-width) - 10px);
            height           : calc(var(--library-search-area-height) - 10px);
            padding          : 0 2px 0 6px;
        }

        &:focus
        {
            border : 1px solid #f5f5f5;
        }
    }
}

#library-preview-area
{
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    height           : var(--library-preview-area-height);
    background-color : #ffffff;
}

#library-list-title
{
    display     : flex;
    align-items : center;
    color       : darkgray;
    font-size   : 10px;
    height      : var(--library-list-title-height);

    p
    {
        margin-left : 10px;
    }
}

#library-list-title div
{
    display     : flex;
    align-items : center;
    width       : 50vw;
    font-weight : bold;
    flex-shrink : 1;
}

#library-list-box
{
    border         : 1px solid darkgray;
    border-radius  : 3px;
    height         : calc(100vh - var(--ad) - var(--library-search-area-height) - var(--controller-tab-area-height) - var(--library-preview-area-height) - var(--library-list-title-height) - var(--controller-padding-width) - 2px);
    overflow       : auto;
    display        : flex;
    flex-direction : column;

    .library-list-box-name
    {
        i
        {
            .open
            {
                transform           : rotate(90deg);
                transition          : 0.1s ease-out;
                background-position : center center;
                flex-shrink         : 0;
            }

            .close
            {
                transform           : rotate(0);
                transition          : 0.1s ease-out;
                background-position : center center;
                flex-shrink         : 0;
            }
        }
    }

    .active
    {
        opacity          : 0.85;
        background-color : slategray;
    }

    .library-list-box-child
    {
        display : flex;
        height  : 35px;

        &:hover
        {
            cursor : pointer;
        }

        .view-text
        {
            display     : flex;
            align-items : center;
            width       : 100vw;
            height      : 35px;
            white-space : nowrap;
        }

        .view-symbol-text
        {
            display     : flex;
            align-items : center;
            width       : 100vw;
            height      : 35px;
            white-space : nowrap;
        }

        .library-list-box-name
        {
            i
            {
                margin-right : 8px;
            }

            p
            {
                display     : flex;
                align-items : center;
                width       : calc((var(--controller-width) - 10px) / 2 - 42px);
                height      : 35px;
                margin      : 0;
                overflow-x  : hidden;
            }

            input[type="text"]
            {
                width : calc((var(--controller-width) - 10px) / 2 - 42px);
            }
        }

        .library-list-box-symbol
        {
            p
            {
                display     : flex;
                align-items : center;
                width       : calc((var(--controller-width) - 10px) / 2 - 20px);
                height      : 35px;
                margin      : 0;
                overflow-x  : hidden;
            }

            input[type="text"]
            {
                width : calc((var(--controller-width) - 10px) / 2 - 10px);
            }
        }

        input[type="text"]
        {
            &:focus
            {
                border           : none;
                outline          : none;
                background-color : transparent;
                color            : #f5f5f5;
                margin-top       : 1px;
                padding          : 0;
                height           : 33px;
                border-bottom    : 1px solid #f5f5f5;
                font-size        : 12px;
                font-family      : inherit;
                white-space      : nowrap;
                overflow         : hidden;
            }
        }
    }

    .library-list-box-name
    {
        display     : flex;
        align-items : center;
        width       : calc(50vw - 2px);
    }

    .library-list-box-symbol
    {
        display     : flex;
        align-items : center;
        width       : calc(50vw - 2px);
    }
}