#controller-area-property
{
    display  : flex;
    overflow : hidden;
    width    : var(--controller-width);
    height   : calc(100vh - var(--controller-tab-area-height) - var(--ad));
}

#controller-area-property-body
{
    display        : flex;
    flex-direction : column;
    overflow       : hidden;
    width          : calc(var(--controller-width) - 20px);
    padding        : 5px;

    .controller-border
    {
        margin        : 5px 0 5px 0;
        width         : calc(var(--controller-width) - var(--controller-padding-width));
        border-bottom : 1px solid #1c1c1c;
    } 
}

#property-scroll-area
{
    position         : relative;
    width            : 10px;
    height           : calc(100vh - var(--controller-tab-area-height) - var(--ad));
    display          : flex;
    justify-content  : center;
    background-color : #282828;
}

#property-scroll-bar
{
    position         : absolute;
    width            : 6px;
    height           : var(--property-scroll-bar-height);
    background-color : #363636;
    color            : whitesmoke;
    border-radius    : 8px;
    border           : 1px solid #72777D;
    box-shadow       : 0 0 1px rgba(245, 245, 245, 0.25);

    &:hover
    {
        cursor: pointer;
    }
}