#controller-area-plugin
{
    padding  : 5px;
    overflow : hidden;
    height   : calc(100vh - var(--controller-tab-area-height) - var(--ad) - var(--controller-padding-width));
}

#plugin-list-box
{
    border         : 1px solid darkgray;
    border-radius  : 3px;
    height         : calc(100vh - 21px - var(--ad) - 12px);
    overflow-x     : hidden;
    overflow-y     : auto;
    display        : flex;
    flex-direction : column;

    .active
    {
        opacity          : 0.85;
        background-color : slategray;
    }

    .plugin-list
    {
        display     : flex;
        align-items : center;
        padding     : 10px;
        height      : 18px;

        &:hover
        {
            cursor : pointer;
        }

        i
        {
            width               : 18px;
            height              : 18px;
            background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path fill="darkgray" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 10.199l-3.64 1.801 3.64 1.796v2.204l-6-2.935v-2.131l6-2.934v2.199zm8 2.866l-6 2.935v-2.204l3.64-1.796-3.64-1.801v-2.199l6 2.935v2.13z"/></svg>');
            background-repeat   : no-repeat;
            background-position : center center;
            margin-right        : 6px;
            pointer-events      : none;
        }
    }
}