#controller
{
    width            : var(--controller-width);
    height           : 100%;
    background-color : #2c2c2c;
    display          : flex;
    flex-direction   : column;
    overflow         : hidden;

    .container-title
    {
        display     : flex;
        font-size   : 15px;
        font-weight : bold;
        margin      : 12px;
        color       : #a9a9a9;

        i
        {
            width             : 18px;
            height            : 18px;
            background-image  : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
            background-repeat : no-repeat;
        }

        .disable
        {
            transform           : rotate(0);
            transition          : 0.1s ease-out;
            background-position : 1px 5px;
        }
    
        .active
        {
            transform           : rotate(90deg);
            transition          : 0.1s ease-out;
            background-position : 4px 5px;
        }
    
        &:hover
        {
            filter : brightness(200%);
            cursor : pointer;
        }
    }
}

#controller-tab-area
{
    display  : flex;
    height   : var(--controller-tab-area-height);

    .tab
    {
        height           : 15px;
        font-size        : 10px;
        padding          : 2px 8px 2px 8px;
        text-align       : center;
        border           : 1px solid #1c1c1c;
        margin-right     : -1px;
        font-weight      : bold;
        color            : darkgray;
        flex-grow        : 1;
        background-color : #1f1f1f;

        &:active
        {
            filter           : none;
            background-color : #2c2c2c;
        }
    }

    .active
    {
        border-bottom    : 1px transparent solid;
        background-color : #2c2c2c;
        color            : #f5f5f5;
    }

    .disable
    {
        &:hover
        {
            color            : #f5f5f5;
            background-color : #4c4c4c;
            cursor           : pointer;
        }
    }
}