#ease-setting
{
    border-bottom : 1px solid #1c1c1c;
    margin-bottom : 5px;

    .ease-setting-container
    {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        margin         : 12px;
    }
    
    .ease-canvas-area
    {
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 326px;
        height          : 400px;
        position        : relative;
    }

    .ease-canvas-data-area
    {
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 326px;
        height          : 25px;
    }

    .ease-canvas-data-area
    {
        div
        {
            display         : flex;
            justify-content : center;
            align-items     : center;
            width           : 60px;
            height          : 25px;

            &:hover
            {
                cursor : pointer;
            }
        }

    }

    .ease-cubic-curve
    {
        width            : 10px;
        height           : 10px;
        position         : absolute;
        z-index          : 9000;
        border           : 1px solid #f4f1f0;
        background-color : #e14f5f;
        border-radius    : 10px;
        box-shadow       : 1px 1px 1px rgba(0, 0, 0, 0.6);
        display          : flex;
        flex-direction   : column;
        justify-content  : center;
        align-items      : center;
        font-size        : 10px;
    }

    .ease-cubic-pointer
    {
        width            : 10px;
        height           : 10px;
        position         : absolute;
        z-index          : 9000;
        border           : 1px solid #f4f1f0;
        background-color : #0ab;
        border-radius    : 10px;
        box-shadow       : 1px 1px 1px rgba(0, 0, 0, 0.6);
        display          : flex;
        flex-direction   : column;
        justify-content  : center;
        align-items      : center;
        font-size        : 10px;

        &:hover
        {
            cursor : move;
        }
    }

    .ease-cubic-time-text
    {
        position         : absolute;
        top              : 304px;
        left             : 135px;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        font-size        : 13px;
        pointer-events   : none;

        span
        {
            pointer-events   : none;
        }
    }
    
    .ease-cubic-tween-text
    {
        position         : absolute;
        top              : 195px;
        left             : -10px;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        font-size        : 13px;
        pointer-events   : none;

        span
        {
            pointer-events   : none;
        }
    }

    .ease-cubic-disable
    {
        opacity : 0.3;
    }
}

#ease-custom-file-input
{
    display : none;
}

#ease-custom-data-export
{
    i
    {
        width               : 60px;
        height              : 25px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="darkgray" d="M8 20h3v-5h2v5h3l-4 4-4-4zm11.479-12.908c-.212-3.951-3.473-7.092-7.479-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h3.5v-2h-3.5c-1.93 0-3.5-1.57-3.5-3.5 0-2.797 2.479-3.833 4.433-3.72-.167-4.218 2.208-6.78 5.567-6.78 3.453 0 5.891 2.797 5.567 6.78 1.745-.046 4.433.751 4.433 3.72 0 1.93-1.57 3.5-3.5 3.5h-3.5v2h3.5c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        pointer-events      : none;
    }
}

#ease-custom-data-load
{
    i
    {
        width               : 60px;
        height              : 25px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="darkgray" d="M16 16h-3v5h-2v-5h-3l4-4 4 4zm3.479-5.908c-.212-3.951-3.473-7.092-7.479-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h3.5v-2h-3.5c-1.93 0-3.5-1.57-3.5-3.5 0-2.797 2.479-3.833 4.433-3.72-.167-4.218 2.208-6.78 5.567-6.78 3.453 0 5.891 2.797 5.567 6.78 1.745-.046 4.433.751 4.433 3.72 0 1.93-1.57 3.5-3.5 3.5h-3.5v2h3.5c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center 3px;
        pointer-events      : none;
    }
}

#ease-select
{
    width            : 300px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;
    font-size        : 12px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}