#history-setting
{
    display        : flex;
    flex-direction : column;
}

#history-setting-view-area
{
    display  : flex;
    overflow : hidden;

    .history-setting-container
    {
        display        : flex;
        height         : 200px;
        border         : 1px solid darkgray;
        border-radius  : 5px;
        margin         : 12px;
    }
}

#history-list
{
    display        : flex;
    flex-direction : column;
    width          : calc(var(--controller-width) - 36px);
    color          : #f5f5f5;
    overflow-x     : auto;

    .disable
    {
        opacity : 0.25;
    }

    div 
    {
        display       : flex;
        align-items   : center;
        flex-shrink   : 0;
        height        : 35px;
        padding-left  : 16px;
        border-bottom : 1px solid #1c1c1c;

        &:hover
        {
            cursor : pointer;
        }

        span
        {
            pointer-events: none;
        }
    }
}