#object-setting
{
    border-bottom : 1px solid #1c1c1c;
    margin-bottom : 5px;

    .object-setting-name-text
    {
        width       : 50px;
        font-size   : 10px;
        color       : darkgray;
    }

    .object-setting-container
    {
        display     : flex;
        align-items : center;
        margin      : 12px;
    }

    .object-setting-text
    {
        width       : 25px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }
}

#object-setting-view-area
{
    display        : flex;
    flex-direction : column;
}

#object-name
{
    width            : 265px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}

#object-symbol
{
    width            : 265px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}