#progress-container
{
    position         : fixed;
    left             : 0;
    top              : 0;
    display          : flex;
    place-items      : center;
    justify-content  : center;
    width            : 100%;
    height           : 100%;
    background-color : #333333;
    z-index          : 65535;

    .progress-modal
    {
        display          : flex;
        flex-direction   : column;
        place-items      : center;
        justify-content  : center;
        border-radius    : 4px;
        background-color : #4c4c4c;
        color            : whitesmoke;
        padding          : 8px 2px 8px 2px;
        border           : 1px solid #72777D;
        min-width        : 240px;
        height           : 32px;
        white-space      : nowrap;
        box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
    }
}

#progress-bar
{
    width  : 95%;
    height : 10px;
}

#progress-state
{
    display       : flex;
    place-items   : center;
    width         : 90%;
    margin-bottom : 4px;
}