#ruler-setting
{
    border-bottom : 1px solid #1c1c1c;
    margin-bottom : 5px;

    .ruler-setting-container
    {
        display     : flex;
        align-items : center;
        margin      : 12px;
    }

    .ruler-setting-text
    {
        width       : 25px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }

    input[type="text"]
    {
        border           : none;
        border-bottom    : 1px solid darkgray;
        outline          : none;
        background-color : transparent;
        color            : #f5f5f5;
        text-align       : center;
        width            : 50px;
        margin           : 3px;
        padding          : 0;

        &:focus
        {
            border-bottom : 1px solid #f5f5f5;
        }
    }
}
