#save-progress-modal
{
    position         : fixed;
    display          : flex;
    flex-direction   : column;
    place-items      : center;
    justify-content  : center;
    border-radius    : 4px;
    background-color : #4c4c4c;
    color            : whitesmoke;
    padding          : 4px;
    border           : 1px solid #72777D;
    min-width        : 200px;
    height           : 35px;
    white-space      : nowrap;
    opacity          : 0.9;
    z-index          : 9999;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);

    div
    {
        display     : flex;
        place-items : center;
        width       : 90%;
        padding     : 0 13px 3px 7px;
    }

    progress
    {
        width          : 95%;
        height         : 10px;
        pointer-events : none;
    }

    &:hover
    {
        cursor : move;
    }
}