#screen-tab-menu
{
    position         : fixed;
    min-width        : 200px;
    min-height       : 40px;
    border-radius    : 10px;
    background-color : #363636;
    color            : whitesmoke;
    border           : 1px solid #72777D;
    z-index          : 9900;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
}