#text-setting
{
    border-bottom : 1px solid #1c1c1c;
    margin-bottom : 5px;

    .text-border
    {
        border-bottom : 1px solid #1c1c1c;
        margin-bottom : 5px;
    }

    .text-setting-container
    {
        display     : flex;
        align-items : center;
        margin      : 12px;
    }

    .text-setting-text
    {
        width       : 25px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }

    .text-setting-title-text
    {
        width       : 65px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }

    .text-setting-select-title
    {
        width       : 50px;
        font-size   : 10px;
        color       : darkgray;
        text-align  : center;
    }
}

#font-select
{
    width            : 260px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}

#font-auto-size-select
{
    width            : 260px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;
    font-size        : 12px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}

#font-wrap-select,
#font-input-select,
#font-style-select,
#font-align-select,
#font-scroll-select,
#font-border-select
{
    width            : 105px;
    height           : 30px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    padding-left     : 6px;
    padding-right    : 6px;
    font-size        : 12px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}

#font-size,
#font-stroke-size,
#font-leading,
#font-letterSpacing,
#font-leftMargin,
#font-rightMargin
{
    border           : none;
    border-bottom    : 1px solid darkgray;
    outline          : none;
    background-color : transparent;
    color            : #f5f5f5;
    text-align       : center;
    width            : 50px;
    margin           : 3px;

    &:focus
    {
        border : 1px solid #f5f5f5;
    }
}

#font-color,
#font-stroke-color
{
    border           : none;
    outline          : none;
    background-color : transparent;
    width            : 40px;
    margin           : 3px;
    padding          : 0;

    &:hover
    {
        filter : brightness(120%);
        cursor : pointer;
    }
}