#timeline-content
{
    width           : calc(100% - 10px);
    height          : calc(var(--timeline-logic-height) - 122px);
    display         : flex;
    flex-direction  : column;
    overflow        : hidden;

    .timeline-layer-icon
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M22 6v16h-16v-16h16zm2-2h-20v20h20v-20zm-24-4v20h2v-18h18v-2h-20z"/></svg>');
        background-repeat   : no-repeat;
        background-position : 3px 4px;
        margin              : 6px;

        &:hover
        {
            filter : brightness(200%);
            cursor : pointer;
        }
    }

    .timeline-mask-icon
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-6 10v8h-8v-8h8zm2-2h-12v12h12v-12zm-16-4v12h2v-10h10v-2h-12z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 6px;

        &:hover
        {
            filter : brightness(200%);
            cursor : pointer;
        }
    }

    .timeline-mask-in-icon
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M11 24v-2h-4v2h4zm8-22h3v3h2v-5h-5v2zm-19 15h2v-4h-2v4zm0-6h2v-4h-2v4zm2-6v-3h3v-2h-5v5h2zm22 2h-2v4h2v-4zm0 6h-2v4h2v-4zm-2 6v3h-3v2h5v-5h-2zm-17 3h-3v-3h-2v5h5v-2zm12 2v-2h-4v2h4zm-6-22v-2h-4v2h4zm6 0v-2h-4v2h4zm0 8v7h-7v-7h7zm2-2h-11v11h11v-11zm-3-3v2h-9v9h-2v-11h11z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 6px;
    }

    .timeline-guide-icon
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 14c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 6px;

        &:hover
        {
            filter : brightness(200%);
            cursor : pointer;
        }
    }

    .timeline-guide-in-icon
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M22 6v16h-16v-16h16zm2-2h-20v20h20v-20zm-24-4v20h2v-18h18v-2h-20z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin              : 6px;
    }

    .timeline-exit-icon
    {
        width               : 10px;
        height              : var(--timeline-frame-height);
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path fill="whitesmoke" d="M0 12l9-8v6h15v4h-15v6z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center center;
        margin-left         : 4px;
    }

    .timeline-exit-in-icon
    {
        width               : 24px;
        height              : var(--timeline-frame-height);
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path fill="whitesmoke" d="M0 12l9-8v6h15v4h-15v6z"/></svg>');
        background-repeat   : no-repeat;
        background-position : 0 center;
        margin-left         : 4px;
    }

    .timeline-content-child
    {
        display       : flex;
        height        : var(--timeline-frame-height);
        border-bottom : 1px solid #1c1c1c;

        .active
        {
            background-color : #282828;
        }
    }

    .move-target
    {
        border-bottom : 1px solid #f5f5f5;
    }

    .active
    {
        background-color : #29628e;

        div
        {
            opacity : 0.85;
        }
    }

    .timeline-layer-controller
    {
        display          : flex;
        align-items      : center;
        justify-content  : flex-end;
        width            : 270px;
        border-right     : 1px solid #1c1c1c;
        background-color : #282828;

        .view-text
        {
            display     : flex;
            align-items : center;
            width       : 130px;
            height      : calc(var(--timeline-frame-height) - 6px);
            margin      : 3px;
            overflow    : hidden;
            white-space : nowrap;
        }

        .in-view-text
        {
            display     : flex;
            align-items : center;
            width       : 115px;
            height      : calc(var(--timeline-frame-height) - 6px);
            margin      : 3px;
            overflow    : hidden;
            white-space : nowrap;
        }

        &:hover
        {
            i
            {
                visibility : visible;
            }
        }
    }

    .icon-active
    {
        filter     : brightness(200%);
        visibility : visible;
    }

    .icon-disable
    {
        visibility : hidden;
    }

    .view-text-input
    {
        border           : none;
        outline          : none;
        background-color : transparent;
        color            : #f5f5f5;
        width            : 130px;
        height           : calc(var(--timeline-frame-height) - 6px);
        margin           : 3px;
        padding          : 0;
        font-size        : 12px;
        font-family      : inherit;
        white-space      : nowrap;

        &:focus
        {
            height        : calc(var(--timeline-frame-height) - 7px);
            border-bottom : 1px solid #f5f5f5;
        }
    }

    .in-view-text-input
    {
        width : 115px;
    }

    .timeline-frame-controller
    {
        width       : calc(100vw - (var(--controller-width) + 338px));
        overflow    : hidden;
        display     : flex;
        align-items : center;
    }

    .frame
    {
        width            : var(--timeline-frame-width);
        height           : var(--timeline-frame-height);
        border-right     : 1px solid #1c1c1c;
        background-color : #2c2c2c;
        flex-shrink      : 0;
    }

    .frame-pointer
    {
        background-color : #3a3a3a;
    }

    .key-frame
    {
        background-color    : #9c9c9c;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 12 12"><circle fill="rgb(30,30,30)" cx="6" cy="6" r="6" /></svg>');
        background-repeat   : no-repeat;
        background-position : center calc(var(--timeline-frame-height) - 10px);
    }

    .empty-key-frame
    {
        background-color    : #5f5f5f;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 24 24"><path fill="rgb(5,5,5)" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center calc(var(--timeline-frame-height) - 10px);
    }

    .empty-space-frame
    {
        background-color    : #5f5f5f;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 6 6"><circle fill="rgb(10,10,10)" cx="3" cy="3" r="3" /></svg>');
        background-repeat   : no-repeat;
        background-position : 9px 2px;
        border-right        : 1px solid #5f5f5f;
    }

    .key-space-frame
    {
        background-color    : #9c9c9c;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 6 6"><circle fill="rgb(20,20,20)" cx="3" cy="3" r="3" /></svg>');
        background-repeat   : no-repeat;
        background-position : 9px 2px;
        border-right        : 1px solid #9c9c9c;
    }

    .key-space-frame-end
    {
        background-color    : #9c9c9c;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg"><rect width="2" height="9" style="fill:rgb(30,30,30)" /></svg>');
        background-repeat   : no-repeat;
        background-position : calc(var(--timeline-frame-width) - 4px) calc(var(--timeline-frame-height) - 11px);
    }

    .empty-space-frame-end
    {
        background-color    : #5f5f5f;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg"><rect width="2" height="9" style="fill:rgb(30,30,30)" /></svg>');
        background-repeat   : no-repeat;
        background-position : calc(var(--timeline-frame-width) - 4px) calc(var(--timeline-frame-height) - 11px);
    }

    .key-frame-join
    {
        border-right : 1px solid #9c9c9c;
    }

    .empty-key-frame-join
    {
        border-right : 1px solid #5f5f5f;
    }

    .morph-key-frame
    {
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24"><path fill="rgb(30,30,30)" serif:id="shape 21" d="M12 .001l12 12-12 12-12-12 12-12z"/></svg>');
        background-repeat   : no-repeat;
        background-position : 3px 20px;
    }

    .morph-frame
    {
        background-color : #fc9d75;
        border-right     : 1px solid #fc9d75;
    }

    .morph-frame-end
    {
        background-color : #fc9d75;
        border-right     : 1px solid #1c1c1c;
    }

    .tween-space-frame
    {
        background-color : #8fbc8f;
        border-right     : 1px solid #8fbc8f;
    }

    .tween-frame-end
    {
        background-color    : #8fbc8f;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24"><path fill="rgb(30,30,30)" serif:id="shape 21" d="M12 .001l12 12-12 12-12-12 12-12z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center calc(var(--timeline-frame-height) - 10px);
    }

    .tween-key-frame-join
    {
        border-right : 1px solid #8fbc8f;
    }

    .tween-key-frame
    {
        background-color    : #8fbc8f;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24"><path fill="rgb(30,30,30)" serif:id="shape 21" d="M12 .001l12 12-12 12-12-12 12-12z"/></svg>');
        background-repeat   : no-repeat;
        background-position : center calc(var(--timeline-frame-height) - 10px);
    }

    .frame-active
    {
        background-color : #3692f0;
    }

}

#timeline-controller-base
{
    position        : relative;
    width           : calc(100vw - (var(--controller-width) + var(--tool-width) + var(--view-border-width) * 2 + var(--controller-adjustment-width) + var(--timeline-layer-controller-width) + var(--timeline-adjustment-width)));
    height          : 61px;
    overflow        : hidden;
}