#timeline-layer-menu
{
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    position         : fixed;
    min-width        : 200px;
    border-radius    : 10px;
    background-color : #363636;
    color            : whitesmoke;
    border           : 1px solid #72777D;
    z-index          : 9999;
    box-shadow       : 0 0 5px rgba(245, 245, 245, 0.25);
}

#timeline-layer-menu-list
{
    display        : flex;
    flex-direction : column;
    margin         : 12px;

    input[type="color"]
    {
        width            : 25px;
        height           : 25px;
        padding          : 0;
        border           : none;
        outline          : none;
        background-color : transparent;
    }

    i, 
    span
    {
        pointer-events: none;
    }

    p
    {
        border-bottom : 1px solid #1c1c1c;
        margin        : 5px 0 5px 0;
    }

    div
    {
        display       : flex;
        align-items   : center;
        min-width     : 165px;
        height        : 20px;
        border-radius : 5px;
        padding       : 5px;

        &:hover
        {
            background-color : #1c1c1c;
            cursor           : pointer;
        }
    }
}

#timeline-layer-scale
{
    width            : 60px;
    height           : 20px;
    border           : 1px solid darkgray;
    border-radius    : 5px;
    background-color : #2c2c2c;
    color            : #f5f5f5;
    font-size        : 12px;
    margin-left      : 8px;
    padding-left     : 3px;
}

#timeline-layer-normal
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M22 6v16h-16v-16h16zm2-2h-20v20h20v-20zm-24-4v20h2v-18h18v-2h-20z"/></svg>');
        background-repeat   : no-repeat;
        background-position : 1px 3px;
        margin              : 2px;
    }
}

#timeline-layer-mask
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M22 2v20h-20v-20h20zm2-2h-24v24h24v-24zm-6 10v8h-8v-8h8zm2-2h-12v12h12v-12zm-16-4v12h2v-10h10v-2h-12z"/></svg>');
        background-repeat   : no-repeat;
        background-position : 1px 3px;
        margin              : 2px;
    }
}

#timeline-layer-guide
{
    i
    {
        width               : 18px;
        height              : 18px;
        background-image    : url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="darkgray" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 14c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"/></svg>');
        background-repeat   : no-repeat;
        background-position : 1px 3px;
        margin              : 2px;  
    }
}